<app-banniere></app-banniere>
<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    <div class="divCentre">
        <ngx-spinner bdColor = "rgba(140,137,137,0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>
        <div class="containerTitre">
        <div class="barreTitre"></div>
        <div class="titreImport">
            <app-texte cle="import.Titre"></app-texte>
        </div>
        <div *ngIf="fichiers.length>0 &&  this.facadeService.listeDecisionImp" class="chObRouge">* Champ obligatoire</div>
      </div>

         <hr />
         <!-- <div class="espCetm" *ngIf="this.facadeService.retourDecision">
           <div class="row">
             <div class="col-2 nomCetm">
               Motifs CETM
             </div>
             <div class="col-2 cbCetm">
                <input class="cbStyle" type="checkbox" >
             </div>
           </div>
         </div> -->
         <!-- <div class="espFichier">
            <div class="nomFichier">
                <app-texte cle="import.NomFichier"></app-texte>
            </div>
          </div> -->
          <div class="row"  *ngIf="!this.facadeService.listeDecisionImp">
            <div class="col-2 nomFichier"> <app-texte cle="import.NomFichier"></app-texte></div>
            <div class="col-6 containerFichierJoint" [class.ErrorBorder]="messageErreurExtension" appDnd (fileDropped)="onFileDropped($event)">
                <app-texte class="glisDep" cle="fj.GlisserDeposer"></app-texte>
                <app-texte class="glisDep" cle="fj.Ou"></app-texte>
                <input type="file" #fileDropRef (change)="fileBrowseHandler($event.target.files)" hidden  formControlName="nomFichier">
                <button class="boutonParcourir" (click)='fileDropRef.click()'>
                <app-texte cle="fj.Parcourir"></app-texte>
               </button>
            </div>
            <div *ngIf="messageErreurImport" class="erreurImport"><app-texte cle="erreur.erreurImportation"></app-texte></div>
          </div>
            <div  class="row" *ngIf="fichiers.length>0 &&  this.facadeService.listeDecisionImp">
                <div class="col-2 nomFichier"> <app-texte cle="import.NomFichier"></app-texte></div>
                <div *ngFor="let f of fichiers" class="col-6 inputRegFichier" >
                 <label class="labelNomFichier"  >{{f.nomDocumentDecision}}</label>
                 <span class="spaceLeft"></span>

                </div>
                <div>
                    <button class="noBorder" type="button" (click)="suppressionFichier()">
                  <img class="imageTrash" src="assets/images/trash.png">
                </button>
                </div>

            </div>
             <!--Erreur Extension-->
         <div *ngIf="messageErreurExtension"  class="row">
            <div class="col-2"></div>
            <div class="col-4 red ml-3">Mauvaise extension , seulement les fichiers .doc et .docx sont admis.</div>
          </div>
          <!--Fin Erreur Extension-->

            <!-- <div *ngIf="messageErreurExtension" class="red">Mauvaise extension , seulement les fichiers .doc et .docx sont admis.</div> -->
            <!--Fin Section dépot de fichier-->

         <div class="row espDesc" *ngIf=" this.facadeService.listeDecisionImp">
            <div class="col-2 nomDescription">
                <app-texte cle="import.Description"></app-texte>
                <span class="requisAs">*</span>
              </div>
          <div class="col-6">
            <input class="inputReg" formControlName="description" >
          </div>
         </div>
         <!--Erreur description-->
         <div *ngIf="this.facadeService.listeDecisionImp&&this.formulaire.controls.description.errors" class="row">
           <div class="col-2"></div>
           <div class="col-2 descError">La description est requise.</div>
         </div>
         <!--Fin Erreur description-->
<!--Début nouvelle row-->
<div  *ngIf=" this.facadeService.listeDecisionImp">
   <!--Row titre de section signature-->
   <div class="row">
      <div class="col-2 nomSignature">Signature(s)</div>

    <div class="col-3 nomJuge">
      Juges administratif(s)
    </div>
    <div class="col-1 nomRedacteur">
      Rédacteur
    </div>
    <div class="col-4 nomOrdreSign">
        Ordre de signature
      </div>
  </div>
     <!--Fin Row titre de section signature-->
<div class="row" *ngFor="let juge of this.facadeService.listeDecisionImp.signataires;let i = index" >
<div class="col-2 colSignature" >
</div>
<div class="col-3 fondGris">
<input class="positionNomJuge"  formControlName="nomJuge{{i}}">
<!-- <div class="positionNomJuge">{{juge.juge}}
</div> -->
</div>
<div class="col-1 cbCentre">
    <input class="cbStyle" type="checkbox" formControlName="redacteur{{i}}">
  </div>
  <div class="col-2 fondGris" >
      <div >
          <div>
          <select   class="dlNormalJuge" id="inputGroupSelect05" formControlName="ordreSignataire{{i}}"  [attr.disabled]="this.facadeService.listeDecisionImp.signataires.length === 1 ? 'disabled' : null">
               <option  selected value="1">Signataire 1</option>
               <option value="2">Signataire 2</option>
               <option value="3">Signataire 3</option>
               <option value="4">Signataire 4</option>
               <option value="4">Signataire 5</option>
             </select>
           </div>
     </div>
  </div>
  <!-- <div class="col-1">
      <button class="noBorder" type="button" (click)="suppressionJuge(i)">
    <img class="imageTrashListe" src="../../assets/images/trash.png">
  </button>
  </div> -->
</div>
</div>
<!--fin nouvelle row-->
        <div class="sectionDate" *ngIf=" this.facadeService.listeDecisionImp">
            <div class="row">
                <div class="col-2 nomDateDelibere">
                    <label class="">Date fin délibéré</label>
                </div>
                <div class="col-2">
                    <mat-form-field class="matFormFieldCustom"  (click)="picker.open()"  >
                        <input
                         class="dateInput"
                         id="inputNormal"
                         matInput
                         [matDatepicker]="picker"
                         formControlName="dateDelibere">
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                </div>
            </div>
        </div>
      <div class="" ></div>
        <!--Erreur date moins de deux ans-->
        <div  *ngIf="this.formulaire.errors && this.formulaire.errors.erreurDateMoinsDeuxAn" class="row mb-2 mt-1">
            <div class="col-sm-0 col-lg-1"></div>
            <div class="col-2 col-sm-2 col-md-4 col-lg-1 taR"> </div>
            <div class="col messageErreurAcc">

                La date de fin de délibéré ne peut être antérieure à 2 ans de la date du jour.
            </div>

             <!-- <app-app-message [cle]='noMessageDateInvalide'   id="erreurFichierInvalide"></app-app-message> -->

            </div>

        <!--Fin erreur date-->
       <!--Erreur date Plus d'un an-->
       <div  *ngIf="this.formulaire.errors && this.formulaire.errors.erreurDatePlusUnAn" class="row mb-2 mt-1">
          <div class="col-sm-0 col-lg-1"></div>
          <div class="col-2 col-sm-2 col-md-4 col-lg-1 taR"> </div>
          <div class="col messageErreurAcc">

              La date de fin de délibéré ne peut être supérieure à un an de la date du jour.
          </div>

           <!-- <app-app-message [cle]='noMessageDateInvalide'   id="erreurFichierInvalide"></app-app-message> -->

          </div>

      <!--Fin erreur date-->

        <!--Erreur date valide-->
        <div  *ngIf="formulaire.get('dateDelibere').invalid && formulaire.get('dateDelibere').dirty  || formulaire.get('dateDelibere').invalid && formulaire.get('dateDelibere').dirty" class="row mb-2 mt-1">
            <div class="col-sm-0 col-lg-1"></div>
            <div class="col-2 col-sm-2 col-md-4 col-lg-1 taR"> </div>
            <div class="col messageErreurAcc">

              Veuillez spécifier une date (début et fin) valide (AAAA-MM-JJ).
            </div>

             <!-- <app-app-message [cle]='noMessageDateInvalide'   id="erreurFichierInvalide"></app-app-message> -->

            </div>

        <!--Fin erreur date-->

        <div class="row mt-2"  *ngIf=" this.facadeService.listeDecisionImp">
          <div class="col-2 nomPriorite">
            Priorité
          </div>
          <div class="col-2 prio" >


                  <select   class="dlNormalPrio" id="inputGroupSelect05" formControlName='priorite' >
                       <option  value="Normale">Normale</option>
                       <option value="Urgente">Urgente</option>
                     </select>
                   </div>



        </div>
    </div>
    <div class="sectionButton">
            <button (click)="quitterDecision()" class="buttonQuitter" >Annuler</button>
    <button  [className]="buttonDisabled || !formulaire.valid ? 'buttonImporterDis' : 'buttonImporter'" class="buttonImporter" (click)="importerDecision()" [disabled] = "buttonDisabled || !formulaire.valid" >Importer</button>
    </div>



</form>

