<app-banniere></app-banniere>
<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
<div class="divFond">
    <div class="divCentre">
        
        <div class="titreImport">
            <app-texte cle="import.Titre"></app-texte>   
        </div>
         <hr/>
         <div class="espFichier">
            <div class="nomFichier">
                <app-texte cle="import.NomFichier"></app-texte>
            </div>
            <div><app-fichier-joint [formulaire]="formulaire"></app-fichier-joint></div>
         </div>
         <div class="espDesc">
            <div class="nomDescription">
                <app-texte cle="import.Description"></app-texte>
                <input class="inputReg" formControlName="description" >
            </div>
         </div>
        
            
            <div class="nomJuge">
                <app-texte cle="import.JugeAdm"></app-texte>
            </div>
            <app-juge-adm [formulaire]="formulaire"></app-juge-adm>
            <div *ngFor="let i of myComponents">
           
            <app-juge-adm ></app-juge-adm>
        </div>

        <div class="spaceUp">
            <div class="row">
                <div class="col-2">
                   
                </div>
                <div class="col-1">
                    <button class="boutonPlus" (click)="ajouterJuge()">+</button>
                </div>
                <div class="col-4 aJuge">
                    <label>Ajouter un autre juge administratif</label>
                </div>
            </div>
        </div>
        <div class="spaceUp">
            <div class="row" *ngIf="myComponents.length>0">
                <div class="col-2">
                   
                </div>
                <div class="col-1">
                    <button type="button" class="boutonMoins" (click)="supprimerJuge()">-</button>
                </div>
                <div class="col-4 aJuge">
                    <label>Supprimer un juge administratif</label>
                </div>
            </div>
        </div> 
        <div class="sectionDate">
            <div class="row">
                <div class="col-2 nomDateDelibere">
                    <label class="">Date fin délibéré</label>
                </div>
                <div class="col-2">
                   <input class="dateInput" type="date" formControlName="dateDelibere">
                </div>
            </div>
        </div>
    </div>
    <div class="sectionButton">
            <button (click)="quitterDecision()" class="buttonQuitter">Quitter</button>
            <button class="buttonImporter">Importer</button>
    </div>
</div>
</form>

