.divFond {
    width: 100%;
    background-color:  #93daea26;
    display: block;
    height: 1000px;
}

.titreImport{
    margin: 0;
    padding-left:10px;
    /* padding-top: 10px; */
    font-weight: bold;
    position: relative;
    bottom: 30px;
}
.espFichier{
    width: 100%;
    background-color: white;
    display: flex;
    margin-top: 2%;
    height: 40px;
}
.espDesc{
    width: 100%;
    background-color: white;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
.espJugeAdm{
    width: 100%;
    background-color: white;
    display: flex;
    margin-top: 3.7%;
}
.nomFichier{
    font-weight: bold;
    text-align: right;
    margin-top: 0.8%;
    /* margin-left: 0.5%; */
    margin-right: 0.6%;
    /* position: relative;
    top:10px;
    margin-right: 1%;
    margin-left: 9%;
    right: 30px; */
}
.nomDescription{
    font-weight: bold;
    text-align: right;
    margin-top: 0.8%;
    /* position: relative;
    top:10px;
    margin-left: 6.9%;
    margin-right: 4%; */
}
.nomSignature{
    font-weight: bold;
   text-align: right;
}
.nomOrdreSign{
  font-weight: bold;
  text-align: left;
  margin-left: 4%;

}
.nomJuge{
  font-weight: bold;
  text-align: left;
  text-align: center;
}
.nomRedacteur{
  font-weight: bold;
  text-align: left;
  text-align: center;
  margin-left: 0.5%;
}
.nomDateDelibere{
    font-weight: bold;
    text-align: right;
    margin-top: 0.5%;
    margin-right: -0.2%;
}
.sectionDate{
    margin-top: 1%;
    height: 50px;
}
.inputReg{
   background-color:#ecebeb;
   border-radius:10px;
   border: solid #ecebeb ;
   height: 50px;
   width: 600px;
   padding:10px;
}
.dateInput{
    background-color:#ecebeb;
    border-radius:10px;
    border: solid #ecebeb ;
    height: 50px;
    width: 200px;
}
.wRow{
    width: 100%;
}
.spaceUp{
    margin-top: 10px;
}

.boutonMoins{
    width: 50px;
    height: 50px;
    font-size: 40px;
    color:#8a8787;
    border:none;
}

.buttonQuitter {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
   /* margin-left: 283px;*/
    margin-top:10px;
    width:100px;
    height:30px;
    border-radius: 10px;
}
.buttonImporter {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    margin-left: 20px;
    margin-top:10px;
    width:100px;
    height:30px;
    border-radius: 10px;
}
.buttonImporterDis {
  background-color: grey;
  color: white;
  border: grey;
  margin-left: 20px;
  margin-top:10px;
  width:100px;
  height:30px;
  border-radius: 10px;
}
.sectionButton{
    display: block;
    text-align: right;
    margin-right: 65px;
    margin-top: 15px;
}


/*Css fichiers*/

.containerFichierJoint{
  width: 600px;
height: 50px;
text-align: center;
  border: solid  #ecebeb;
  background-color:#ecebeb ;
  border-radius: 10px;
/* position: absolute; */
/* margin: 0 auto; */
/* display: block; */
  flex-wrap: nowrap;
  /* overflow-x: auto; */
}
.glisDep{
  font-weight: bold;
  color:#8a8787;
  /* float: left; */
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 0;
  margin-right: 20px;
}
.boutonParcourir{
  background-color: #ecebeb;
  border: none;
  text-decoration:underline;
  color: #2257a7;
  font-weight: bold;
  margin-top: 1.4%;
  margin-right: 30px;
 outline: none;
}
 .inputRegFichier{
  background-color:#ecebeb;
  border-radius:10px;
  border: solid #ecebeb ;
  height: 50px;
  min-width: 350px;
  width: auto;
  /* position: relative;
  top:3px; */
  text-align: center;
  padding: 0.8%;
  padding-left: 15px;
  padding-right: 15px;

}

.spaceLeft{
   margin-left: 10px;;
}

.noBorder{
   border:none;
   background-color: white;
}

.ErrorBorder{
   border:solid red 1px;
}

/*Fin Css fichiers*/

/*Début css Juge*/


.inputRegJuge{
  background-color:#ecebeb;
  border-radius:10px;
  border: solid #ecebeb ;
  height: 40px;
  /* margin-left:44px; */
  width: 190px;
  position: relative;
  top:3px;
  text-align: center;
  color:gray;

}
.dlNormalJuge {
  padding-left:10px;
  padding-right:10px;
  background-color: #ecebeb;
  border-radius: 10px;
  border: solid 1px #ecebeb;
  /* text-indent: 25%;  */
  color:gray;
  height: 50px;
  outline: none;
  width: 100%;
}
.dlNormalPrio{
  padding-left:10px;
  padding-right:10px;
  background-color: #ecebeb;
  border-radius: 10px;
  border: solid 1px #ecebeb;
  color:gray;
  height: 50px;
  outline: none;
  width: 120px;

}


.marginR{
  margin-right: 8px;
}
.spaceUpDownRow{
  margin-top: 10px;
}
.cbStyle{
  height: 30px;
  width: 30px;
  position: relative;
  top:10px;
}
.cbCentre{
  text-align: center;
}
.flex{
  display:flex;

}

/*Fin css Juge*/

/*Css table*/
.tableCss{
  margin-left: 200px;
 /* border-collapse:separate;
    border-spacing:0 5px;*/
}

.signWith{
  width: 200px;
}
.positionNomJuge{
  position: relative;
  top:10px;
  background-color: #ecebeb;
  border: none;
}
.nomCetm{
    font-weight: bold;
    position: relative;
    top:10px;
    right: 20px;
    text-align: right;
}
.nomPriorite{
  margin-top: 1.2%;
  margin-left: -0.2%;
  font-weight: bold;
    text-align: right;
}
.cbCetm{
  text-align: left;
}
.prio{
  margin-top:10px;
}
.imageTrash{
  height:25px;
  position: relative;
  margin-top:5px;
}
.imageTrashListe{
  height:25px;
  position: relative;
  margin-top:8px;
}

.matFormFieldCustom{
  width: 250px;
  display: relative;
  bottom:18px;
  /*right: 22px;*/
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.mat-form-field-underline  {
  display: none;
}
#inputNormal{
  padding:10px;
  height: 50px;
  width: 120px
}
.requisAs{
  margin-left: 5px;
  color:red;
}
.barreTitre{
  background-color:  #2257a7;
  opacity: 0.3;
  height: 40px;
}
.containerTitre{
height: 50px;
width: 100%;
margin-top: 20px;

}
.chObRouge{
  font-weight: bold;
  color:red;
  margin: 0;
    padding-right:10px;
    /* padding-top: 10px; */
    float: right;
    position: relative;
    bottom: 50px;
    font-size: 12px;

}
.colSignature{
  margin-left: 0.5%;
}
.descError{
  margin-top: -20px;
  color: red;
  font-weight: bold;
  font-size: 12px;
}
.messageErreurAcc{
  color:red;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 12px;
}
.boutonPlus{
  width: 50px;
  height: 50px;
  font-size: 40px;
  color:#8a8787;
  border: none;
}

.sectionTableNomJuge{
  width: 260px;
  background-color: #ecebeb;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  color:#8a8787;
}
.aJuge{
  position: relative;
  top:12px;
  font-size: 16px;
  font-weight:600;
  color:#8a8787;
}
.labelNomFichier{
  font-size: 16px;
  font-weight: 600;
  color: #8a8787;

}
.red{
  font-size: 13px;
  font-weight: bold;
  color:red;
}
.fondGris{
  background-color:#ecebeb;
  border:solid white;
  border-radius:10px;
  font-size: 16px;
  font-weight: 600;
   color: #8a8787;
   /* height: 50px; */
   /* position: relative;
   left: 8px; */
}
.erreurImport{
  width: 100%;
  /* text-align: center; */
  margin-top: 10px;
  font-size: 12px;
  color: red;
  font-weight: bold;
  margin-left: 18%;
}
.hiddenOption{
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1400px) {
  .nomDateDelibere{
    font-weight: bold;
    text-align: right;
    margin-top: 0.5%;
    margin-right: -0.7%;
    position: relative;
    bottom: 7px;
}
.nomFichier{
  font-weight: bold;
  text-align: right;
  margin-top: 0.8%;
  /* margin-left: 0.5%; */
  margin-right: 1%;
  /* position: relative;
  top:10px;
  margin-right: 1%;
  margin-left: 9%;
  right: 30px; */
}
.sectionDate{
  margin-top: 1%;
  height: 30px;
}
.nomPriorite{
  margin-top: 1.75%;
  margin-left: -0.3%;
  font-weight: bold;
    text-align: right;
}
.fondGris{
  background-color:#ecebeb;
  border:solid white;
  border-radius:10px;
  font-size: 11px;
  font-weight: 600;
   color: #8a8787;
   height: 30px;

   /* position: relative;
   left: 8px; */
}
.labelNomFichier{
  font-size: 11px;
  font-weight: 600;
  color: #8a8787;
  position: relative;
  bottom: 4px;

}
.matFormFieldCustom{
  width: 250px;
  display: relative;
  /* bottom:12px; */
  /*right: 22px;*/
}
.buttonQuitter {
  background-color: #2257a7 !important;
  color: white;
  border: #2257a7 !important;
 /* margin-left: 283px;*/
  margin-top:10px;
  width:100px;
  height:22px;
  border-radius: 10px;
  font-size:11px;
}
.buttonImporter {
  background-color: #2257a7 !important;
  color: white;
  border: #2257a7 !important;
  margin-left: 20px;
  margin-top:10px;
  width:100px;
  height:22px;
  border-radius: 10px;
  font-size:11px;
}
.buttonImporterDis {
background-color: grey;
color: white;
border: grey;
margin-left: 20px;
margin-top:10px;
width:100px;
height:22px;
border-radius: 10px;
font-size:11px;
}
.containerFichierJoint{
  width: 600px;
height: 40px;
text-align: center;
  border: solid  #ecebeb;
  background-color:#ecebeb ;
  border-radius: 10px;
/* position: absolute; */
/* margin: 0 auto; */
/* display: block; */
  flex-wrap: nowrap;
  /* overflow-x: auto; */
}
.inputRegFichier{
  background-color:#ecebeb;
  border-radius:10px;
  border: solid #ecebeb ;
  height: 30px;
  min-width: 350px;
  width: auto;
  /* position: relative;
  top:3px; */
  text-align: center;
  padding: 0.8%;
  padding-left: 15px;
  padding-right: 15px;

}
.imageTrash{
  height:20px;
  position: relative;
  margin-top:4px;
}
.inputReg{
  background-color:#ecebeb;
  border-radius:10px;
  border: solid #ecebeb ;
  height: 30px;
  width: 440px;
  padding:10px;
}
.nomFichier{
  font-weight: bold;
  text-align: right;
  margin-top: 0.8%;
  /* margin-left: 0.5%; */

  /* position: relative;
  top:10px;
  margin-right: 1%;
  margin-left: 9%;
  right: 30px; */
}
.positionNomJuge{
  position: relative;
  top:2px;
  background-color: #ecebeb;
  border: none;
  height: 18px;
}
.dlNormalJuge {
  padding-left:10px;
  padding-right:10px;
  background-color: #ecebeb;
  border-radius: 10px;
  border: solid 1px #ecebeb;
  /* text-indent: 25%;  */
  color:gray;
  height: 20px;
  position: relative;
  top:2px;
  outline: none;
  width: 100%;
}
.cbStyle{
  height: 20px;
  width: 20px;
  position: relative;
  top:5px;
}
.dlNormalPrio{
  padding-left:10px;
  padding-right:10px;
  background-color: #ecebeb;
  border-radius: 10px;
  border: solid 1px #ecebeb;
  color:gray;
  height: 30px;
  outline: none;
  width: 120px;
  position: relative;
    bottom: 8px;
    right: 2px;

}
.dateInput{
  background-color:#ecebeb;
  border-radius:10px;
  border: solid #ecebeb ;
  height: 20px!important;
  width: 200px;
}
.nomPriorite{

  margin-left: -0.5%;
  font-weight: bold;
    text-align: right;
    position: relative;
    bottom: 10px;
}
.descError{
  margin-top: -10px;
  color: red;
  font-weight: bold;
  font-size: 10px;
}
.messageErreurAcc{
  color:red;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 10px;
}
.chObRouge{
  font-weight: bold;
  color:red;
  margin: 0;
    padding-right:10px;
    /* padding-top: 10px; */
    float: right;
    position: relative;
    bottom: 50px;
    font-size: 10px;

}
}
