.divFond {
    width: 100%;
   /* background-color:  #93daea26;*/
    display: block;
    height: auto;
}

.enteteBleu{
    width:100%;
    /* background-color: rgb(126, 162, 219); */
    /* height: 50px;*/
    display: flex;
    color:black;
    position: relative;
    bottom: 50px;
}
.titreEntete{
    font-weight: 600;
    margin-top: 15px;
    margin-left: 10px;
    color:black;
}
.arrowDown{
    margin-left: auto;
    margin-top: 3px;
    padding-right: 20px;
}
.testDecision{
    margin-top: 10px;
    height: 100px;
    font-weight: 500;
    margin-bottom: 30px;
    overflow: hidden;
}
.testDecisionExpand{
    margin-top: 10px;
    height: auto;
    font-weight: 500;
    /* margin-bottom: 30px; */
    padding-bottom: 20px;
}
.testDossAsso{
    margin-top: 10px;
    height: 100px;
    font-weight: 500;
    margin-bottom: 30px;
    overflow: hidden;
}
.testDossAssoExpand{
    margin-top: 10px;
    height: auto;
    font-weight: 500;
    margin-bottom: 30px;
}
.bold{
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.over{
    overflow-y: auto;
}
.dateDeliCol{
    /* max-width: 12%; */
    padding-right: 5px;
    padding-left: 5px;
    border:none;
    text-align: center;
}
.numUniCol{
    /* max-width: 10%; */
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.numUtiCol{
    /* max-width: 8%; */
    padding-right: 5px;
    padding-left: 5px;
    white-space: normal;
    text-align: center;
}
.dateImpCol{
    /* max-width: 11%; */
    padding-right: 5px;
    padding-left: 5px;
}

.pCol{
    padding-right: 5px;
    padding-left: 5px;
}
.yellow{
    background-color: yellow;
}
.dlNormalYellow{
    background-color: yellow;

}
.dlNormalGreen{
    background-color: lime;

}
.buttonChangements{
  background-color: #2257a7 !important;
  color: white;
  border: #2257a7 !important;
 /* margin-left: 283px;*/
  width:200px;
  height:35px;
  border-radius: 10px;
  float: right;
  margin-bottom: 10px;
}
.buttonDocument {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
   /* margin-left: 283px;*/
    width:160px;
    height:35px;
    border-radius: 10px;
}
.buttonDocumentDis{
  background-color: grey !important;
  color: white;
  border: grey !important;
 /* margin-left: 283px;*/
  width:160px;
  height:35px;
  border-radius: 10px;
}
.buttonRejet {
    background-color: #f5250a !important;
    color: white;
    border:#f5250a !important;
   /* margin-left: 283px;*/
    width:185px;
    height:35px;
    border-radius: 10px;

}
.buttonSignRejet{
    background-color: #ff6004 !important;
    color: white;
    border:#ff6004 !important;
   /* margin-left: 283px;*/
    width:160px;
    height:35px;
    border-radius: 10px;

}
.buttonDemarrer{
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
   /* margin-left: 283px;*/
     width:175px;
    height:35px;
    border-radius: 10px;
    margin-right:20px;


}
.buttonFermer{
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
   /* margin-left: 283px;*/
    width:150px;
    height:35px;
    border-radius: 10px;
}

.inputDesc{
    border:none;
    resize: none;
    border:none;
    background-color: white;

}
.inputDateDelibere{
  border:none;
  border:none;
}
.inputNormal{
  margin-left: 22px;
}
.matFormFieldCustom{
  width: 250px;
  display: relative;
  bottom:18px;
  right: 22px;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.mat-form-field-underline  {
  display: none;
}
.barreTitre{
  background-color:  #2257a7;
  opacity: 0.3;
  height: 50px;
}
.containerTitre{
height: 50px;
width: 100%;
margin-top: 20px;

}
.noBorder{
  border:none;
  background-color: white;
  color:black;
}
.maxW12{
  max-width: 12%;
}
.maxW14{
  max-width: 14%;
}
.center{
  text-align: center;
}

