<app-banniere></app-banniere>
<ngx-spinner bdColor = "rgba(140,137,137,0.9)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>
<form [formGroup]="formulaire" >


    <div id="test"></div>

<div class="divFond" >

    <div  class="divCentre">

        <!-- Début zone décision -->
        <div class="row adjust">
        <div class="containerTitre">
            <div class="barreTitre"></div>
        <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.decision"></app-texte>
            <span *ngIf="this.facadeService.listeDecision.statut !== 'Rejeté'" class="errorRed">* champ obligatoire</span>
            </div>
        </div>
      </div>

        <!--Début row décision-->


        <div class="row bold adjRow">
            <div class="col col-xl-1 numUniCol"> <app-texte cle="commun.numero"></app-texte></div>
            <div class="col col-xl-3 chDescr"><app-texte cle="commun.description"></app-texte><span *ngIf="this.facadeService.listeDecision.statut !== 'Rejeté'" class="asteRed">*</span>  <i *ngIf="this.facadeService.listeDecision.statut !== 'Rejeté'"   class="fas fa-edit fa-xs ml-1"></i></div>
            <div class="col col-xl-1 numImpCol center"><app-texte cle="commun.impPar"></app-texte></div>
            <div class="col col-xl-1 dateImpCol center"><app-texte cle="commun.dateImp"></app-texte></div>


            <div class="col col-xl-2 dateDeliCol center"><app-texte cle="commun.dateDeli"></app-texte> <i *ngIf="this.facadeService.listeDecision.statut !== 'Rejeté'" class="fas fa-edit fa-xs ml-1"></i></div>
            <div class="col col-xl-2 dureeRest center">Durée restante(jours)</div>
            <div class="col col-xl-1 numUtiCol center">Priorité <i *ngIf="this.facadeService.listeDecision.statut !== 'Rejeté'" class="fas fa-edit fa-xs ml-1"></i></div>
            <div class="col col-xl-2 statutCss center">Statut</div>
        </div>
          <!--Fin row décision-->

        <div  class="testDecisionExpand">
            <div     class="row adjRow">
            <div class="col col-xl-1 numUniCol"><input class="inputNo"  formControlName="numero"></div>
                <div  class="col col-xl-3 chDescr">
                    <textarea
                    cols="auto"
                    appTextareaAutoresize
                    style="overflow:hidden"
                    id="descriptionID"
                    [attr.disabled]="(this.facadeService.listeDecision.statut === 'Rejeté' || this.facadeService.listeDecision.statut === 'Accepté')
                     ? 'disabled' : null"
                     (click)="afficheBordure()"
                     (focusout)="masqueBordure()"
                      formControlName="description"
                      spellcheck="false"
                      [className]="inputAvecBordure ? 'inputDescBord': 'inputDesc'"
                       class="inputDesc"
                        ></textarea>

                    </div>
                  <div class="col col-xl-1 numImpCol"
                   matTooltip="{{this.facadeService.listeDecision.nomRessourceDepot}}"
                   matTooltipPosition="above"
                   matTooltipClass="my-classTT">
                    <input class="noBorder center"  formControlName="importePar" >
                  </div>
                  <div class="col col-xl-1 dateImpCol">
                    <input class="noBorder center"  formControlName="dateImportation">
                  </div>



                <div class="col col-xl-2 dateDeliCol">
                    <span *ngIf="formulaire.get('dateDelibere').value  === '' " class="texteBe">-
                      </span>

                    <mat-form-field class="matFormFieldCustom"  (click)="picker.open()" >

                        <input
                        [disabled]="(this.facadeService.listeDecision.statut === 'Rejeté' || this.facadeService.listeDecision.statut === 'Accepté')"
                         class="inputNormal center"
                         matInput
                         [matDatepicker]="picker"
                         formControlName="dateDelibere"


                        >

                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  <!-- <input class="inputDateDelibere" (change)="afficheBouton()" formControlName="dateDelibere" value="2020-02-01"> -->

                </div>



              <div class="col col-xl-2 dureeRest">
                <div *ngIf="this.facadeService.listeDecision.statut !== 'Rejeté'
                && this.facadeService.listeDecision.statut !== 'Accepté'
                &&(this.facadeService.listeDecision.dateFinDelibere | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')">
                  <input [className]="this.facadeService.listeDecision.dureeRestante <= 5 ? 'noBorderR center': 'noBorder center'"   formControlName="dureeRestante">
                </div>
                <div class="center" *ngIf="this.facadeService.listeDecision.statut === 'Rejeté'
                || this.facadeService.listeDecision.statut === 'Accepté'
                ||(this.facadeService.listeDecision.dateFinDelibere | date: 'yyyy-MM-dd') < (0001-01-01 | date: 'yyyy-MM-dd')">-</div>
                </div>
                <div class="col col-xl-1 numUtiCol">
                       <select  [attr.disabled]="(this.facadeService.listeDecision.statut === 'Rejeté'|| this.facadeService.listeDecision.statut === 'Accepté')
                        ? 'disabled' : null"
                        formControlName="priorite"
                        [className]="this.formulaire.get('priorite').value ==='Urgente' ? 'dlNormalYellow' : ''"
                        class="dlNormalYellow"
                        id="inputGroupSelectPrio" >
                         <option  selected value="Urgente">Urgente</option>
                         <option  value="Normale">Normale</option>

                       </select>


                     </div>
                    <div class="col col-xl-2 statutCss center">
                        <input class="inputStatut"  formControlName="statut">

                    </div>
            </div>

            <div  class="row" *ngIf="this.facadeService.listeDecision">
                <div class="col-2 maxW15"></div>
                <div class="col-5 descError"><span *ngIf="this.facadeService.listeDecision
                  &&this.formulaire.controls.description.errors
                  &&this.formulaire.controls.description.errors.required
                  &&this.formulaire.controls.description.touched" >
                  <app-texte cle="commun.descObli"></app-texte>
                 </span>
                 <span *ngIf="this.facadeService.listeDecision
                 &&this.formulaire.controls.description.errors
                 && this.facadeService.listeDecision&&this.formulaire.controls.description.errors.maxlength
                 " >
                    <app-texte cle="commun.desTropLong"></app-texte>
                   </span>
                </div>

                <div class="col-5">
                    <!--Erreur date-->
        <div  *ngIf="this.formulaire.errors && this.formulaire.errors.erreurDatePlusUnAn&&this.formulaire.controls.dateDelibere.touched">
            <div class="descErrorDate">
                La date de fin de délibéré ne peut être supérieure à un an de la date du jour.
            </div>
            </div>

            <!--Erreur date deux ans-->
            <div  *ngIf="this.formulaire.errors && this.formulaire.errors.erreurDateMoinsDeuxAn&&this.formulaire.controls.dateDelibere.touched">
                <div class="descErrorDate">
                    La date de fin de délibéré ne peut être antérieure à 2 ans de la date du jour.
                </div>
                </div>

            <!--Fin erreur date deux ans-->

             <!--Erreur date plus d'un an-->
             <div  *ngIf="formulaire.get('dateDelibere').invalid && formulaire.get('dateDelibere').dirty  || formulaire.get('dateDelibere').invalid && formulaire.get('dateDelibere').dirty">
                <div class="descErrorDate">
                  Veuillez spécifier une date (début et fin) valide (AAAA-MM-JJ).
                </div>
                </div>

            <!--Fin erreur date plus d'un an-->

        <!--Fin erreur date-->
                </div>
                <!-- <div class="col">
                  <button
                  [attr.disabled]="!formulaire.valid ? 'disabled' : null"
                   *ngIf="boutonSauvegardeModif"
                    (click)="sauvegarderChangements()"
                    [className]="formulaire.valid ? 'buttonChangements' : 'buttonChangementsDis'"
                     class="buttonChangements">
                     Enregistrer
                    </button></div> -->
              </div>
        </div>





        <!--Fin zone décision-->

         <!--Début zone dossiers associés-->
         <div class="containerTitre">
            <div class="barreTitre"></div>
         <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.dossierAsso"></app-texte>
            <span style ="cursor: pointer" id="boiteDossAssoOuverte" *ngIf="!boiteDossAss" class="arrowDown" (click)="ouvertureBoiteDossAss()">
                <i class="fas fa-angle-down fa-3x"></i>
            </span>
            <span style ="cursor: pointer" id="boiteDossAssoFerme" *ngIf="boiteDossAss" class="arrowDown" (click)="fermetureBoiteDossAss()">
                <i class="fas fa-angle-up fa-3x"></i>
            </span>
        </div>
         </div>

        <div [className]=" !boiteDossAss ? 'testDossAsso' : 'testDossAssoExpand' " class="testDossAsso">
            <div class="row">
                <div class="col-2 bold">
                  <app-texte cle="commun.numero"></app-texte>

                </div>
                <div class="col-2 bold">
                  <app-texte cle="commun.requerant"></app-texte>
                </div>
            </div>
            <div *ngFor="let res of this.facadeService.listeDecision.dossiersTAQ;let v = index" class="row">
                <div class=col-2>
                   {{res.noDossierTAQ}}
                </div>
                <div class=col-2>
                    {{res.requerant}}
                </div>
            </div>
            <!-- <div class="row">
                <div class=col-2>
                    STE-Q-114265-1513
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div> -->
            <!-- <div class="row">
                <div class=col-2>
                    STE-Q-114287-1401
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div> -->
            <!-- <div class="row">
                <div class=col-2>
                    STE-Q-114287-1401
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div> -->
        </div>
       <!--Fin zone dossiers associés-->

         <!--Début zone signature-->
         <div class="containerTitre">
            <div class="barreTitre"></div>
         <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.signature"></app-texte>
            <span style ="cursor: pointer" id="boiteDossAssoOuverte" *ngIf="!boiteSignature" class="arrowDown" (click)="ouvertureBoiteSignature()">
                <i class="fas fa-angle-down fa-3x"></i>
            </span>
            <span style ="cursor: pointer" id="boiteDossAssoFerme" *ngIf="boiteSignature" class="arrowDown" (click)="fermetureBoiteSignature()">
                <i class="fas fa-angle-up fa-3x"></i>
            </span>
        </div>
         </div>

        <div [className]="!boiteSignature ? 'testDecision' : 'testDecisionExpand' " class="testDecision">
            <div class="row bold">
                <div class="col-2">
                    Juge(s) administratif(s)
                </div>
                <div class="col-2 center">
                    Rédacteur
                </div>
                <div class="col-2 center">
                    Ordre de signature
                </div>
                <div class="col-2 center">
                    Date de signature
                </div>
            </div>

            <div *ngFor="let resT of this.facadeService.listeDecision.signataires;let i = index" class="row">
                <div class="col-2">
                   {{resT.nomRessource}}
                </div>
                <div class="col-2 center">
                <input class="cbStyle" type="checkbox"  formControlName="redacteur{{i}}">
                   <!-- {{resT.redacteur}} -->
                </div>
                <div class="col-2 center">
                    Signataire
                    {{resT.ordre}}
                </div>
                <div class="col-2 center">
                  <div *ngIf="(resT.dateSignature | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')"> {{resT.dateSignature | date: 'yyyy-MM-dd'}}</div>
                  <div  *ngIf="(resT.dateSignature | date: 'yyyy-MM-dd') <= (0001-01-01 | date: 'yyyy-MM-dd')">-</div>


                   <!--
                     (r.dateFinDelibere | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')"> {{r.dateFinDelibere | date: 'yyyy-MM-dd'}}</div>
                            <div *ngIf="(r.dateFinDelibere | date: 'yyyy-MM-dd') < (0001-01-01 | date: 'yyyy-MM-dd')
                   -->
                </div>
            </div>



        </div>
       <!--Fin zone signature-->

         <!--Début zone historique de décision-->
         <div class="containerTitre">
            <div class="barreTitre"></div>
         <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.histDecision"></app-texte>
            <span style ="cursor: pointer" id="boiteDossAssoOuverte" *ngIf="!boiteHistorique" class="arrowDown" (click)="ouvertureBoiteHistorique()">
                <i class="fas fa-angle-down fa-3x"></i>
            </span>
            <span style ="cursor: pointer" id="boiteDossAssoFerme" *ngIf="boiteHistorique" class="arrowDown" (click)="fermetureBoiteHistorique()">
                <i class="fas fa-angle-up fa-3x"></i>
            </span>
        </div>
         </div>

        <div [className]="!boiteHistorique && this.facadeService.listeDecision.historiqueStatuts.length !=1 ? 'testDossAsso' : 'testDossAssoExpand' " class="testDecision">
            <div class="row bold">
                <div class="col-2">
                   Statut
                </div>
                <div class="col-2 center">
                    Date
                </div>
                <div class="col-2 center">
                    Utilisateur
                </div>
            </div>


            <div *ngFor="let hist of this.facadeService.listeDecision.historiqueStatuts" class="row">
                <div class="col-2">
                   {{hist.statut}}
                </div>
                <div class="col-2 center">
                    {{hist.dateStatut | date: 'yyyy-MM-dd'}}
                </div>
                <div class="col-2 center"
                 matTooltip="{{hist.nomRessource}}"
                matTooltipPosition="above"
                matTooltipClass="my-classTT">
                   {{hist.codeReseau}}
                </div>
            </div>
        </div>
       <!--Fin zone historique de décision-->
    </div>
      <!--Début zone bouton adjointe-->

      <div *ngIf="!this.facadeService.indicateurJuge">
    <div class="row" >
        <div class="col-2" >
            <button *ngIf="this.facadeService.listeDecision.statut !=='Rejeté'
                         && this.facadeService.listeDecision.statut !=='Accepté'"
                         (click)="rejeterDecision()" class="buttonRejet">Rejeter la décision/motifs</button>
        </div>
        <div class="col-2 maxW12">
            <button *ngIf="this.facadeService.listeDecision.statut !=='Rejeté'
                           && this.facadeService.listeDecision.statut !=='Accepté'"
                           class="buttonDocument"
                           (click)="voirDocumentWord()">Voir Word</button>
        </div>
        <div class="col-2">
            <button *ngIf="(this.facadeService.listeDecision.statut !=='Rejeté' && this.facadeService.listeDecision.statut !=='Accepté' )"
             class="buttonDocument"
             (click)="voirDocumentPdf()">Voir PDF</button>
        </div>
        <div class="col-3 col3Adj"></div>

        <div class="col-2 maxW14">
            <button *ngIf="this.facadeService.listeDecision.statut === 'Prêt pour signature'"
             class="buttonDemarrer" [attr.disabled]="!pdfClique || !formulaire.valid  ? 'disabled' : null"
             [className]="pdfClique && formulaire.valid ? 'buttonDocument' : 'buttonDocumentDis'"
             (click)="demarrerSignature()">Démarrer la signature</button>
             <button *ngIf="this.facadeService.listeDecision.statut ==='Accepté'"
              [className]=" this.facadeService.listeDecision.urlDecisionPDFFinale !==null ? 'buttonDocument':'buttonDocumentDis'"
              [attr.disabled]="this.facadeService.listeDecision.urlDecisionPDFFinale==null ? 'disabled': null"
              (click)="voirDocumentPdfFinal()">Voir PDF</button>
        </div>
        <div class="col-1">
            <button
            [attr.disabled]="!formulaire.valid ? 'disabled' : null"
            [className]="formulaire.valid ? 'buttonFermer' : 'buttonFermerDis'"
             class="buttonFermer"
              (click)="sauvegarderChangements()">Fermer</button>
        </div>

    </div>
</div>
      <!--Fin zone bouton-->

      <!--Début zone bouton juge-->

      <!-- <div *ngIf="this.facadeService.indicateurJuge">
        <div class="row">
            <div class="col-2">
                <button class="buttonDocument">Voir documents</button>
            </div>

            <div class="col-2">
                <a href="mailto:{{email}}?Subject={{emailSubject}}" target="_blank">
                <button  class="buttonSignRejet">Signaler rejet décision</button>
            </a>
            </div>
            <div class="col-2">
                <button class="buttonFermer">Fermer</button>
            </div>

        </div>
    </div> -->

       <!--Fin zone bouton juge-->
</div>

</form>
