<app-banniere></app-banniere>
<div class="divFond">
    <div class="divCentre">
        <!--Début zone décision-->
        <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.decision"></app-texte>

        </div>
        <!--Début row décision-->
        <div class="row bold">
            <div class="col numUniCol"><app-texte cle="commun.numUnique"></app-texte></div>
            <div class="col dateDeliCol"><app-texte cle="commun.description"></app-texte>  <i (click)="editionDescription()" class="fas fa-edit ml-1"></i></div>
            <div class="col dateImpCol"><app-texte cle="commun.dateImp"></app-texte></div>
            <div class="col numUtiCol"><app-texte cle="commun.utilisateur"></app-texte></div>
            <div class="col dateDeliCol"><app-texte cle="commun.requerant"></app-texte></div>

            <div class="col-2 dateDeliCol"><app-texte cle="commun.dateDeli"></app-texte> <i class="fas fa-edit ml-1"></i></div>
            <div class="col numUniCol">Durée restante</div>
            <div class="col numUtiCol">Priorité</div>
            <div class="col">Statut</div>
        </div>
          <!--Fin row décision-->

        <div class="testDecisionExpand">
            <div class="row">
                <div class="col numUniCol">2020-01-123</div>
                <div class="col dateDeliCol">
                    <textarea (change)="afficheBouton()"  class="inputDesc" rows="3" cols="18">numéro dossier -requérant</textarea>
                    </div>
                <div class="col dateImpCol">2020-02-01</div>
                <div class="col numUtiCol">prouguil001</div>
                <div class="col dateDeliCol">Entreprise Les solutions vertes du québec

                </div>

                <div class="col-2 dateDeliCol">
                  <input class="inputDateDelibere" (change)="afficheBouton()"  value="2020-02-01">

                </div>
                <div class="col numUniCol">15 jours</div>
                <div class="col numUtiCol">
                       <select  (change)="getColor($event)" [className]="couleurPrio ? 'dlNormalYellow' : ''" class="dlNormalYellow"  id="inputGroupSelectPrio" >
                         <option  selected value="1">Urgente</option>
                         <option  value="2">Normale</option>

                       </select>


                     </div>
                <div class="col">Prête pour traitement</div>
            </div>
        </div>

        <button *ngIf="boutonSauvegardeModif" (click)="sauvegarderChangements()" class="buttonChangements">Sauvegarder changements</button>
        <!--Fin zone décision-->

         <!--Début zone dossiers associés-->
         <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.dossierAsso"></app-texte>
            <span id="boiteDossAssoOuverte" *ngIf="!boiteDossAss" class="arrowDown" (click)="ouvertureBoiteDossAss()">
                <i class="fas fa-angle-down fa-3x"></i>
            </span>
            <span id="boiteDossAssoFerme" *ngIf="boiteDossAss" class="arrowDown" (click)="fermetureBoiteDossAss()">
                <i class="fas fa-angle-up fa-3x"></i>
            </span>
        </div>

        <div [className]="!boiteDossAss ? 'testDossAsso' : 'testDossAssoExpand' " class="testDossAsso">
            <div class="row">
                <div class="col-2 bold">
                    Numéro de dossier(s)
                </div>
                <div class="col-2 bold">
                    Requérant(s)
                </div>
            </div>
            <div class="row">
                <div class=col-2>
                    STE-Q-114265-1506
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div>
            <div class="row">
                <div class=col-2>
                    STE-Q-114265-1513
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div>
            <div class="row">
                <div class=col-2>
                    STE-Q-114287-1401
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div>
            <div class="row">
                <div class=col-2>
                    STE-Q-114287-1401
                </div>
                <div class=col-2>
                    Entreprise ABC
                </div>
            </div>
        </div>
       <!--Fin zone dossiers associés-->

         <!--Début zone signature-->
         <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.signature"></app-texte>
            <span id="boiteDossAssoOuverte" *ngIf="!boiteSignature" class="arrowDown" (click)="ouvertureBoiteSignature()">
                <i class="fas fa-angle-down fa-3x"></i>
            </span>
            <span id="boiteDossAssoFerme" *ngIf="boiteSignature" class="arrowDown" (click)="fermetureBoiteSignature()">
                <i class="fas fa-angle-up fa-3x"></i>
            </span>
        </div>

        <div [className]="!boiteSignature ? 'testDecision' : 'testDecisionExpand' " class="testDecision">
            <div class="row bold">
                <div class="col-2">
                    Juge(s) administratif(s)
                </div>
                <div class="col-2">
                    Rédacteur
                </div>
                <div class="col-2">
                    Ordre de signature
                </div>
                <div class="col-2">
                    Date de signature
                </div>
            </div>
        </div>
       <!--Fin zone signature-->

         <!--Début zone historique de décision-->
         <div class="enteteBleu">
            <app-texte class="titreEntete" cle="commun.histDecision"></app-texte>
            <span id="boiteDossAssoOuverte" *ngIf="!boiteHistorique" class="arrowDown" (click)="ouvertureBoiteHistorique()">
                <i class="fas fa-angle-down fa-3x"></i>
            </span>
            <span id="boiteDossAssoFerme" *ngIf="boiteHistorique" class="arrowDown" (click)="fermetureBoiteHistorique()">
                <i class="fas fa-angle-up fa-3x"></i>
            </span>
        </div>

        <div [className]="!boiteHistorique ? 'testDossAsso' : 'testDossAssoExpand' " class="testDecision">
            <div class="row bold">
                <div class="col-2">
                   Statut
                </div>
                <div class="col-2">
                    Date
                </div>
                <div class="col-2">
                    Utilisateur
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                   Décision importée
                </div>
                <div class="col-2">
                    2020-02-01
                </div>
                <div class="col-2">
                    EXABB03
                </div>
            </div>
        </div>
       <!--Fin zone historique de décision-->
    </div>
      <!--Début zone bouton adjointe-->
      <div *ngIf="!this.facadeService.indicateurJuge">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button class="buttonDocument">Voir documents</button>
        </div>

        <div class="col">
            <button (click)="rejeterDecision()" class="buttonRejet">Rejeter la décision</button>
        </div>
        <div class="col-4"></div>

        <div class="col">
            <button class="buttonDemarrer">Démarrer la signature</button>
        </div>
        <div class="col">
            <button class="buttonFermer">Fermer</button>
        </div>
        <div class="col"></div>
    </div>
</div>
      <!--Fin zone bouton-->

      <!--Début zone bouton juge-->

      <div *ngIf="this.facadeService.indicateurJuge">
        <div class="row">
            <div class="col-2">
                <button class="buttonDocument">Voir documents</button>
            </div>

            <div class="col-2">
                <a href="mailto:{{email}}?Subject={{emailSubject}}" target="_blank">
                <button  class="buttonSignRejet">Signaler rejet décision</button>
            </a>
            </div>
            <div class="col-2">
                <button class="buttonFermer">Fermer</button>
            </div>

        </div>
    </div>

       <!--Fin zone bouton juge-->
</div>
