 <app-banniere></app-banniere>
<!-- <div class="contenant">


<div class="texteAccRef">
  Vous n'avez pas les accès pour accéder à cette application .  Veuillez communiquer avec le support informatique ou créer une nouvelle requête dans Octopus pour TNDM.
</div>
</div> -->


<div class="containerP">

  <div class="element">
      <div class="texteAccRef">
          Vous n'avez pas les accès pour accéder à cette application .  Veuillez communiquer avec le support informatique ou créer une nouvelle requête dans Octopus pour TNDM.
        </div>
  </div>
</div>
