 <div class="container cont100"> 
<div class="row borderB">
    <div class="col-1.5 pad2">
        <img src="../../assets/images/logoTaq.jpg" height="50" />
    </div>
    <div class="col-6 blue">
        <img src="../../assets/images/Image1.png" />
       <app-texte class="texteBlanc" cle="banniere.Titre"></app-texte>
        </div>
        <div class="col-4 blueR">
            <button class="buttonLogout">
           <app-texte class="texteBlanc" cle="banniere.Connexion"></app-texte>
            </button>
     </div>
</div>
 </div> 
   

