mat-tooltip-component > .mat-tooltip {
  white-space: pre;
  }
.container1 {
    /*background-color: #93daea26;*/
     width:25%;
    float: left;
    padding: 20px;
}
.rowPad{
  padding-top: 2px;
  padding-bottom: 2px;
}
.rowPadDosTaq{
  padding-top: 2px;
  margin-bottom: -2px;
}
.rowPadPrio{
  margin-top:-5px;
}
.divUpLeft {
    background-color: white;
    height:230px;
    width: 100%;
    display: block;
}
.divDownLeft {
    background-color: white;
    height: 230px;
    width: 100%;
    display: block;
}
.divRight {
    background-color: white;
    width: 100%;
    height: auto;
    display: block;
}
.nomAdj {
    font-size:16px;
    padding:10px;
    text-align:center;
    font-weight:bold;
}
.spanSpace {
    height:20px;
    display:block;
}

.imageAdj {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgUtlCenter {
    text-align: center;
}
.texteBlue {
    font-size: 16px;
    color: #2257a7;
    text-align: center;
    font-weight: bold;
    padding-top:10px;
}
.rechDec {
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: -10px;
}
.texteRecherche {
    font-size: 16px;
    color: black;
    padding-top: 10px;
    width: 250px;

}
.tbNormal {

    text-align: center;
    width: 125px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    height: 25px;

}
.dlNormal {
    width: 250px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    /* text-indent: 25%;  */
    color:black;
    height: 25px;
}
.dlNormalJuge {
  width: 250px;
  /* background-color: #f3f5fb; */
  border-radius: 5px;
  border: solid 1px #d0c9c9;
  /* text-indent: 25%;  */
  color:black;
  height: 25px;
}
.dlNormalStatut {
    width: 125px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    /* text-indent: 25%;  */
    color:black;
    height: 25px;
}

.flex{
    display:flex;

}

.buttonRechercher {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    /* margin-left: 335px; */
    margin-top:10px;
    width:170px;
    height:30px;
    border-radius: 10px;
    font-size: 14px;
}
.buttonImpor{
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    width:250px;
    height:30px;
    border-radius: 10px;
    justify-content: end;
    font-size: 14px;
}
.buttonReini {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    margin-left: 10px;
    margin-top: 10px;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
}
.tableauDec {
    background-color:white;
    font-size: 12px;
    overflow-y: scroll;
    height: 300px;
}
.hauteurImageTrie {
    height:5px;
    margin-left:10px;
}
.errorRed{
    font-size: 16px;
    color:red;
}
input[type=radio] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    margin-left: 5px;
}

input[type=radio]:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 16px;
    color: transparent !important;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    margin-right: 5px;
}

input[type=radio]:checked:before {
    color: #212529 !important;
}
.paginationCtl{
    margin-top:20px;
    float: right;
}

.imgSign{
    padding-left: 5px;
    height: 20px;
    margin-bottom: 5px;
}
.my-class{
    color: white;
    font-size: 10px;
    background: #2257a7 ;
    padding:10px;
  }
  .my-classTT{
    color: white;
    font-size: 10px;
    background: #2257a7 ;
    padding:10px;
    width: auto;
  }
  .padDD{
      margin-top: 15px;;
  }
 .numeroDec{
     text-decoration: underline;
     cursor:pointer;
 }
 .yellowClass{
     background-color: yellow;
     text-align: center;
     padding:5px;
 }
 .bgWhite{
     background-color: white;
     text-align: center;

 }
 .rougeClass{
     /* background-color: #ff8080; */
     color:red;
     text-align: center;
     padding:5px;
 }
 .whiteClass{
     background-color: white;
 }
 .texteTitreNormal{
     font-size: 16px;
     color:black;
     text-align: right;
     margin-right: 15px;
 }

 .texteTitreProJuge{
    font-size: 16px;
    color:black;
    margin-left: 8px;
    margin-right: 3px;
    max-width: 9.5%;

 }
 .texteTitreDossTaq{
    font-size: 16px;
    color:black;
    text-align: left;
    position: relative;
    left: 1.6%;
    top:2px;
    max-width: 10%;
 }
 .texteTitreDateImp{
    font-size: 16px;
    color:black;
    text-align: left;
    position: relative;
    left: 1.8%;
    top:2px;
    max-width: 12.4%;
 }

 .spaceUpDownRow{
     margin-top:10px;
     height: 25px;
 }
 .colMod8{
     max-width: 6.5%;
     padding-right: 5px;;
 }
 .colMod14{
    max-width: 15%;
}
.mod2{
    max-width: 14.7%;
}
.mod3{
    max-width: 14%;
}
.mod1{
    max-width: 3.5%;
}

.inputNormal{
    text-align: center;
    width: 125px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    height: 25px;
}
.matFormFieldCustom{
   text-decoration: none;
}
/* ::ng-deep .mat-form-field-underline {
    display: none;
} */
.mat-form-field-underline  {
    display: none;
}
.mat-form-field-infix{
    border-top:none;
}
.mat-form-field{
    height: 40px;
}
.texteDurRestanteRouge{
    color:red;
    font-weight: bold;
}
.inputBorderRouge{
    text-align: center;
    width: 125px;
    background-color: #f3f5fb;
    border-radius: 5px;
    border: solid 2px red;
    height: 25px;
    /*border-color: red;*/
}
.sectionTableauHeader{
    font-weight: bold;
    font-size: 16px;
   height: 35px;
}
.divSolid{
   width: 100%;
   height: 10%;
   background-color: red;
}
.aligButton {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.hrClass{
    border: solid 3px #2257a7;
    opacity: 0.3;
}
.messageErreurAcc{
  color:red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:12px;
}
.cent{
  text-align: center;
}
.centJuge{
position: relative;
left: 25px;
}
.nomJugeSpan{
  white-space: nowrap;

}
.divInBlock{
  display: inline-block;
  margin-right: 10px;
}
.divInBlockButton{
    display: inline-block;
  margin-right: 10px;
}

.divVideButt{
  display:inline-block;
  width: 34%;
}



/*CSS test*/
.taR{
    text-align: right;
    font-size: 16px;
}
.taRDate{
    text-align: right;
    font-size: 16px;
    margin-top: 6px;
}
.disInBl{
    display: inline-block;
    margin-top:6px;
    margin-right: 10px;
    margin-left: -10px;

}
.inputW{
    width: 250px;
}
.divVide{
    display: inline-block;
    width: 22.2%;
  }
  .texteTitreNormalMarR20{
    font-size: 16px;
    color:black;
    display: inline-block;
    margin-right: 1.4%;
    /* text-align: right;
    margin-right: 20px; */
   }
   .col-xxl-2 {
    flex: 0 0 25%;
    max-width: 16%;
}
@media  screen and (max-width: 2400px){
  .buttonImpor{
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    width:250px;
    height:30px;
    border-radius: 10px;
    justify-content: end;
    font-size: 14px;
}
    .divVide{
        display: inline-block;
        width: 22.1%;
      }
      .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 14.5%;
    }
    .texteTitreNormalMarR20{
        font-size: 16px;
        color:black;
        display: inline-block;
        margin-right: 1.4%;
        /* text-align: right;
        margin-right: 20px; */
       }
}
@media  screen and (max-width: 2400px){
    .divVide{
        display: inline-block;
        width: 21.9%;
      }
      .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 14.5%;
    }
}
@media  screen and (max-width: 2300px){
    .divVide{
        display: inline-block;
        width: 21.9%;
      }
      .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 14.5%;
    }
}
@media  screen and (max-width: 2200px){
    .divVide{
        display: inline-block;
        width: 21.7%;
      }

}



@media  screen and (max-width: 2000px){
    .divVide{
        display: inline-block;
        width: 29.8%;
      }
      .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 10%;
    }
    .texteTitreNormalMarR20{
        font-size: 16px;
        color:black;
        display: inline-block;
        margin-right: 1.7%;
        /* text-align: right;
        margin-right: 20px; */
       }
       .disInBl{
        display: inline-block;
        margin-top:6px;
        margin-right: 0px;
        margin-left: -20px;
    }
}
@media  screen and (max-width: 1900px){
    .divVide{
        display: inline-block;
        width: 21.3%;
      }
      .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 17.5%;
    }
}
@media  screen and (max-width: 1800px){
    .col-xxl-2 {
      flex: 0 0 25%;
      max-width: 19%;
  }
  .divVide{
    display: inline-block;
    width: 21.1%;
  }
  .disInBl{
    display: inline-block;
    margin-top:6px;
    margin-right: 25px;
    margin-left: -10px;
}
}
@media  screen and (max-width: 1700px){
    .col-xxl-2 {
      flex: 0 0 25%;
      max-width: 21%;
  }
  .divVide{
    display: inline-block;
    width: 20.95%;
  }

}
@media  screen and (max-width: 1680px){
    .col-xxl-2 {
      flex: 0 0 25%;
      max-width: 21%;
  }
  .divVide{
    display: inline-block;
    width: 29.2%;
  }
  .texteTitreNormalMarR20{
    font-size: 16px;
    color:black;
    display: inline-block;
    margin-right: 2.2%;
    /* text-align: right;
    margin-right: 20px; */
   }
   .col-xxl-2 {
    flex: 0 0 25%;
    max-width: 11%;
}
.disInBl{
  display: inline-block;
  margin-top:6px;
  margin-right: -5px;
  margin-left: -20px;

}
.messageErreurAcc{
  color:red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:10px;
}
}
@media  screen and (max-width: 1500px){
    .col-xxl-2 {
      flex: 0 0 25%;
      max-width: 12.5%;
  }
  .divVide{
    display: inline-block;
    width: 28.6%;
  }
  .texteTitreNormalMarR20{
    font-size: 16px;
    color:black;
    display: inline-block;
    margin-right: 2.3%;
    /* text-align: right;
    margin-right: 20px; */
   }
}
@media  screen and (max-width: 1400px){
  /* .col-xxl-2 {
    flex: 0 0 25%;
    max-width: 10%;
}
  .disInBl{
    display: inline-block;
    margin-top:6px;
    margin-right: 10px;
    margin-left: 20px;
}
  .divVide{
    display: inline-block;
    width: 28.6%;
  }
  .texteTitreNormalMarR20{
    font-size: 16px;
    color:black;
    display: inline-block;
    margin-right: 2.6%;
    /* text-align: right;
    margin-right: 20px; */
    /*
   } */
   .hrClass{
    border: solid 3px #2257a7;
    opacity: 0.3;
    margin-bottom: 5px;
}
.divVideButt{
  display:inline-block;
  width: 34.2%;
}
.buttonRechercher {
  background-color: #2257a7 !important;
  color: white;
  border: #2257a7 !important;
  margin-top:10px;
  width:100px;
  height:25px;
  border-radius: 10px;
  font-size: 11px;
}
.buttonImpor{
  background-color: #2257a7 !important;
  color: white;
  border: #2257a7 !important;
  width:175px;
  height:25px;
  border-radius: 10px;
  justify-content: end;
  font-size: 11px;
}
.buttonReini {
  background-color: #2257a7 !important;
  color: white;
  border: #2257a7 !important;
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  font-size: 11px;
}
}
 @media screen and (max-width: 1300px) {

  .messageErreurAcc{
    color:red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:9px;
  }
    .disInBl{
        display: inline-block;
        margin-top:6px;
        margin-right: 5px;
        margin-left: 20px;
    }
    .divVide{
      display: inline-block;
      width: 29%;
    }

    .col2ModAdjJug{
      max-width: 13.4%;
    }
    .col2ModDosTaq{
      max-width: 14%;
    }

    .texteTitreProJuge{
      font-size: 16px;
      color:black;
      margin-left: 8px;
      margin-right: 3px;
      max-width: 13.2%;
   }

   .texteTitreNormal{
    font-size: 16px;
    color:black;
    text-align: right;
    margin-right: 1.2%;
  }
  .texteTitreDossTaq{
    font-size: 16px;
    color:black;
    text-align: left;
    max-width: 11%;
    margin-right: 2.3%;
  }
  .texteTitreDateImp{
    font-size: 16px;
    color:black;
    text-align: left;
    max-width: 15.8%;
  }
  .mod1{
      max-width: 4.5%;
    }
    .mod2{
      max-width: 12%;
    }
    .mod3{
      max-width: 20%;
    }
    .texteTitreNormalMarR20{
      font-size: 12px;
      color:black;
      display: inline-block;
      margin-right: 2.6%;
      /* text-align: right;
      margin-right: 20px; */
     }
     .taR{
      text-align: right;
      font-size: 12px;
  }
  .taRDate {
      text-align: right;
      font-size: 12px;
      margin-top: 6px;
  }
  }
@media screen and (max-width: 1280px) {
    .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 10%;
    }
    .disInBl{
      display: inline-block;
      margin-top:6px;
      margin-right: -10px;
      margin-left: 20px;
  }
    .divVide{
        display: inline-block;
        width: 29.2%;
      }
    .texteTitreNormalMarR20{
        font-size: 11px;
        color:black;
        display: inline-block;
        margin-right: 2.6%;
        /* text-align: right;
        margin-right: 20px; */
       }
    .texteTitreProJuge{
        font-size: 11px;
        color:black;
        margin-left: 8px;
        margin-right: 3px;
        max-width: 13.2%;
     }

     .texteTitreNormal{
      font-size: 11px;
      color:black;
      text-align: right;
      margin-right: 1.2%;
    }
    .texteTitreDossTaq{
      font-size: 11px;
      color:black;
      text-align: left;
      max-width: 12.7%;
      margin-right: 0.8%;
    }
    .texteTitreDateImp{
      font-size: 11px;
      color:black;
      text-align: left;
      max-width: 17.1%;
    }
    .taR{
        text-align: right;
        font-size: 11px;
    }
    .taRDate {
        text-align: right;
        font-size: 11px;
        margin-top: 6px;
    }
    .mod1{
        max-width: 5.5%;
      }
    .mod2{
        max-width: 12%;
      }
      .mod3{
        max-width: 31%;
      }
      .mod4{
          max-width: 19.3%;
      }
      .mod5{
          max-width: 19%;
      }
      .mod6{
        max-width: 20%;
    }
      .padD{
          margin-left: -2.6%;
      }
      .mar2_6{
        margin-left: -2.3%;
    }
    .mar3_3{
        margin-left: -3.3%;
    }
    .col2ModDosTaq{
        max-width: 14.7%;
      }
      .inputNormal{
        width: 125px;
      }

.buttonRechercher {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    margin-left: 27%;
    margin-top:10px;
    width:100px;
    height:25px;
    border-radius: 10px;
    font-size: 11px;
}
.buttonImpor{
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    width:175px;
    height:25px;
    border-radius: 10px;
    justify-content: end;
    font-size: 11px;
}
.buttonReini {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    font-size: 11px;
}
.tableauDec {
    background-color:white;
    font-size: 10px;
    overflow-y: scroll;
    height: 180px;
}
.sectionTableauHeader{
    font-weight: bold;
    font-size: 11px;
   height: 25px;
}
.divVideButt{
    display:inline-block;
    width: 32%;
  }
  .divInBlockButton{
    display: inline-block;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1160px) {
  .divVide{
    display: inline-block;
    width: 28.9%;
  }
  .col-xxl-2 {
    flex: 0 0 25%;
    max-width: 11%;
}


}
@media screen and (max-width: 1100px) {
  .rowPad{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .rowPadDosTaq{
    padding-top: 1px;
    margin-bottom: -2px;
  }
  .rowPadPrio{
    margin-top:-10px;
  }
  .dlNormalJuge {
    width: 250px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    /* text-indent: 25%;  */
    color:black;
    height: 20px;
  }
  .dlNormalStatut {
    width: 125px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    /* text-indent: 25%;  */
    color:black;
    height: 20px;
}
.inputNormal{

  height: 20px;
}
.tbNormal {

  text-align: center;
  width: 125px;
  /* background-color: #f3f5fb; */
  border-radius: 5px;
  border: solid 1px #d0c9c9;
  height: 20px;

}
    .divVide{
        display: inline-block;
        width: 28.4%;
      }
      .col-xxl-2 {
        flex: 0 0 25%;
        max-width: 13%;
    }
      .disInBl{
        display: inline-block;
        margin-top:6px;
        margin-right: -10px;
        margin-left: 15px;
    }
    .texteTitreNormalMarR20{
        font-size: 11px;
        color:black;
        display: inline-block;
        margin-right: 2.8%;
        /* text-align: right;
        margin-right: 20px; */
       }
       .divVideButt{
        display:inline-block;
        width: 31.8%;
      }
      .divInBlockButton{
        display: inline-block;
        margin-right: 20px;
      }
      .noDecCssTd{
        width: 90px;
      }
      .jugeCssTd{
        width: 150px;
      }
      .buttonRechercher {
        background-color: #2257a7 !important;
        color: white;
        border: #2257a7 !important;
        margin-left: 27%;
        margin-top:10px;
        width:100px;
        height:22px;
        border-radius: 10px;
        font-size: 11px;
        padding:2px;
    }
    .buttonImpor{
        background-color: #2257a7 !important;
        color: white;
        border: #2257a7 !important;
        width:170px;
        height:22px;
        border-radius: 10px;
        justify-content: end;
        font-size: 11px;
        padding:2px;
    }
    .buttonReini {
        background-color: #2257a7 !important;
        color: white;
        border: #2257a7 !important;
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 22px;
        border-radius: 10px;
        font-size: 11px;
        padding:2px;
    }
    .rechDec {
      font-size: 11px;
      color: black;
      font-weight: bold;
      padding-top: 5px;
      margin-bottom: -10px;
  }
  .centJuge{
    position: relative;
    left: 10px;
    }
    .table thead th{
      vertical-align: middle;
    }
    }
    @media screen and (max-width: 900px) {
        .divVide{
            display: inline-block;
            width: 19.6%;
          }
        .texteTitreNormalMarR20{
            font-size: 11px;
            color:black;
            display: inline-block;
            margin-right: 3.2%;
            /* text-align: right;
            margin-right: 20px; */
           }
           .centJuge{
            position: unset;
            }
            .divVideButt{
                display:inline-block;
                width: 23%;
              }
              .divInBlockButton{
                display: inline-block;
                margin-right: 20px;
              }
              .centJuge{
                position: relative;
                left: 10px;
                }
        }
        @media screen and (max-width: 900px) {
            .divVide{
                display: inline-block;
                width: 27.6%;
              }
            .texteTitreNormalMarR20{
                font-size: 11px;
                color:black;
                display: inline-block;
                margin-right: 3.5%;
                /* text-align: right;
                margin-right: 20px; */
               }
               .divVideButt{
                display:inline-block;
                width: 31%;
              }
               .divInBlockButton{
                display: inline-block;
                margin-right: 20px;
              }
              .inputNormal{
                width: 130px;
              }
              .centJuge{
                position: unset;
                }
            }
            @media screen and (max-width: 800px) {
                .divVide{
                    display: inline-block;
                    width: 26.9%;
                  }
                .texteTitreNormalMarR20{
                    font-size: 11px;
                    color:black;
                    display: inline-block;
                    margin-right: 4.2%;
                    /* text-align: right;
                    margin-right: 20px; */
                   }
                   .divVideButt{
                    display:inline-block;
                    width: 31%;
                  }
                  .divInBlockButton{
                    display: inline-block;
                    margin-right: 20px;
                  }
                  .disInBl{
                    display: inline-block;
                    margin-top:6px;
                    margin-right: 0px;
                }
                .centJuge{
                    position: unset;
                    }


                }

@media screen and (max-width: 700px) {
    .divVide{
        display: inline-block;
        width: 8.5%;
      }
    .texteTitreNormalMarR20{
        font-size: 11px;
        color:black;
        display: inline-block;
        margin-right: 4.2%;
        /* text-align: right;
        margin-right: 20px; */
       }
       .divVideButt{
        display:inline-block;
        width: 31%;
      }
      .divInBlockButton{
        display: inline-block;
        margin-right: 20px;
      }
      .disInBl{
        display: inline-block;
        margin-top:6px;
        margin-right: 0px;
    }
    .inputNormal{
        width: 100px;
      }
    .inputW{
        width: 200px;
    }
    .divInBlockButton{
        display: inline-block;
        margin-right: 20px;
      }
}
 @media screen and (max-width: 600px) {

    .divVide{
        display: inline-block;
        width: 7.8%;
      }
    .texteTitreNormalMarR20{
        font-size: 11px;
        color:black;
        display: inline-block;
        margin-right: 4.2%;
        /* text-align: right;
        margin-right: 20px; */
       }
       .divVideButt{
        display:inline-block;
        width: 31%;
      }
      .divInBlockButton{
        display: inline-block;
        margin-right: 20px;
      }
      .divInBlock{
        display: inline-block;
        margin-right: 5px;
      }
      .disInBl{
        display: inline-block;
        margin-top:6px;
        margin-right: 0px;
    }
    .inputNormal{
        width: 100px;
      }
    .inputW{
        width: 100px;
    }
    .divInBlockButton{
        display: inline-block;
        margin-right: 20px;
      }

}


