.container1 {
    /*background-color: #93daea26;*/
     width:25%;
    float: left;
    padding: 20px;
}

.divUpLeft {
    background-color: white;
    height:230px;
    width: 100%;
    display: block;
}
.divDownLeft {
    background-color: white;
    height: 230px;
    width: 100%;
    display: block;
}
.divRight {
    background-color: white;
    width: 100%;
    height: auto;
    display: block;
}
.nomAdj {
    font-size:16px;
    padding:10px;
    text-align:center;
    font-weight:bold;
}
.spanSpace {
    height:20px;
    display:block;
}

.imageAdj {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgUtlCenter {
    text-align: center;
}
.texteBlue {
    font-size: 16px;
    color: #2257a7;
    text-align: center;
    font-weight: bold;
    padding-top:10px;
}
.rechDec {
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    padding-left:20px;
    margin-bottom: -10px;
}
.texteRecherche {
    font-size: 16px;
    color: black;
    padding-top: 10px;
    width: 250px;

}
.tbNormal {

    text-align: center;
    width: 250px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    height: 25px;

}
.dlNormal {
    width: 250px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    /* text-indent: 25%;  */
    color:black;
    height: 25px;
}
.dlNormalStatut {
    width: 250px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    /* text-indent: 25%;  */
    color:black;
    height: 25px;
}

.flex{
    display:flex;

}

.buttonRechercher {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    margin-left: 335px;
    margin-top:10px;
    width:200px;
    height:35px;
    border-radius: 10px;
}
.buttonImpor{
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    width:250px;
    height:35px;
    border-radius: 10px;
    justify-content: end;
}
.buttonReini {
    background-color: #2257a7 !important;
    color: white;
    border: #2257a7 !important;
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
}
.tableauDec {
    background-color:white;
    font-size: 12px;
    overflow-y: scroll;
    height: 300px;
}
.hauteurImageTrie {
    height:5px;
    margin-left:10px;
}
.errorRed{
    font-size: 16px;
    color:red;
}
input[type=radio] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    margin-left: 5px;
}

input[type=radio]:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 16px;
    color: transparent !important;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    margin-right: 5px;
}

input[type=radio]:checked:before {
    color: #212529 !important;
}
.paginationCtl{
    margin-top:20px;
    float: right;
}

.imgSign{
    padding-left: 5px;
    height: 20px;;
}
.my-class{
    color: white;
    font-size: 16px;
    background: #2257a7 ;
    padding:10px;
  }
  .padDD{
      margin-top: 15px;;
  }
 .numeroDec{
     text-decoration: underline;
     cursor:pointer;
 }
 .yellowClass{
     background-color: yellow;
     text-align: center;
     padding:5px;
 }
 .bgWhite{
     background-color: white;
     text-align: center;

 }
 .rougeClass{
     /* background-color: #ff8080; */
     color:red;
     text-align: center;
     padding:5px;
 }
 .whiteClass{
     background-color: white;
 }
 .texteTitreNormal{
     font-size: 16px;
     color:black;
     text-align: right;
     margin-right: 15px;
 }
 .texteTitreNormalMarR20{
  font-size: 16px;
  color:black;
  display: inline-block;
  margin-right: 50px;
  /* text-align: right;
  margin-right: 20px; */
 }
 .texteTitreProJuge{
    font-size: 16px;
    color:black;
    margin-left: 8px;
    margin-right: 3px;
    max-width: 9.5%;

 }
 .texteTitreDossTaq{
    font-size: 16px;
    color:black;
    text-align: left;
    position: relative;
    left: 1.6%;
    top:2px;
    max-width: 10%;
 }
 .texteTitreDateImp{
    font-size: 16px;
    color:black;
    text-align: left;
    position: relative;
    left: 1.8%;
    top:2px;
    max-width: 12.4%;
 }

 .spaceUpDownRow{
     margin-top:10px;
     height: 25px;
 }
 .colMod8{
     max-width: 6.5%;
     padding-right: 5px;;
 }
 .colMod14{
    max-width: 15%;
}
.mod2{
    max-width: 14.7%;
}
.mod3{
    max-width: 14%;
}
.mod1{
    max-width: 3.5%;
}

.inputNormal{
    text-align: center;
    width: 250px;
    /* background-color: #f3f5fb; */
    border-radius: 5px;
    border: solid 1px #d0c9c9;
    height: 25px;
}
.matFormFieldCustom{
    width: 250px;
    display: relative;
    bottom:18px;
    right: 22px;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
.mat-form-field-underline  {
    display: none;
}
.texteDurRestanteRouge{
    color:red;
    font-weight: bold;
}
.inputBorderRouge{
    text-align: center;
    width: 250px;
    background-color: #f3f5fb;
    border-radius: 5px;
    border: solid 2px red;
    height: 25px;
    /*border-color: red;*/
}
.sectionTableauHeader{
    font-weight: bold;
    font-size: 16px;
   height: 35px;
}
.divSolid{
   width: 100%;
   height: 10%;
   background-color: red;
}
.aligButton {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.hrClass{
    border: solid 3px #2257a7;
    opacity: 0.3;
}
.messageErreurAcc{
  color:red;
  font-weight: bold;
  margin-left: 340px;
  margin-top: 10px;
}
.cent{
  text-align: center;
}
.centJuge{
position: relative;
left: 25px;
}
.nomJugeSpan{
  white-space: nowrap;

}
.divInBlock{
  display: inline-block;
  margin-right: 10px;
}
.divVide{
  display: inline-block;
  width: 21.2%;
}
@media screen and (max-width: 1300px) {
  .divVide{
    display: inline-block;
    width: 19.7%;
  }
  .col2ModAdjJug{
    max-width: 13.4%;
  }
  .col2ModDosTaq{
    max-width: 14%;
  }
  .texteTitreProJuge{
    font-size: 16px;
    color:black;
    margin-left: 8px;
    margin-right: 3px;
    max-width: 13.2%;
 }
 .texteTitreNormal{
  font-size: 16px;
  color:black;
  text-align: right;
  margin-right: 1.2%;
}
.texteTitreDossTaq{
  font-size: 16px;
  color:black;
  text-align: left;
  max-width: 11%;
  margin-right: 2.3%;
}
.texteTitreDateImp{
  font-size: 16px;
  color:black;
  text-align: left;
  max-width: 15.8%;
}
.mod1{
  max-width: 4.5%;
}
.mod2{
  max-width: 12%;
}
.mod3{
  max-width: 20%;
}
}


