<form [formGroup]="formulaire">
            <div >
            <div>{{noMessageDateInvalide}}</div>
            <div>{{ErreurDate}}</div>
                <div class="divRight">

                    <div class="rechDec">
                         <app-texte cle="commun.Recherche"></app-texte>
                    </div>
                    <hr class="hrClass" />
                    <div>



                      <div formGroupName="statut"  >
                        <div class="divVide"></div>
                        <div class="texteTitreNormalMarR20">Statut</div>
                        <div class="divInBlock" > <input class="cbStyle" type="checkbox" formControlName="statutImporte" > Importé</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox" formControlName="statutPretSignature" > Prêt pour la signature</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"  formControlName="statutEnCours" > En cours</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"   formControlName="statutDepose"> Déposé</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"  formControlName="statutAnalyse"> Analysé</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"   formControlName="statutAccepte"> Accepté</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"  formControlName="statutRejete"> Rejeté</div>

                      </div>



                       <!--Section 2e proposition MA-->
                       <div class="row spaceUpDownRow">
                        <div class="col-2 col2ModAdjJug"></div>
                        <div class="col-xl-2 col-lg-1 texteTitreProJuge">Adjointes/Juge</div>
                          <div class="flex">
                            <div class="padD">
                              <select   class="dlNormalStatut" id="inputGroupSelectPrio" formControlName="nomJuge">
                                <option  selected value="0" >Toutes mes décisions</option>
                                <option   value="1">Toutes les décisions</option>
                              <option *ngFor="let jugAdj of this.facadeService.listeJugesAdjointes;let i= index; "  value="{{jugAdj.codeReseau}}">{{jugAdj.nom}} {{jugAdj.prenom}}</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-6"></div>
                      </div>
                       <!--Fin Section 2e proposition MA-->

                      <!--Section Juges-->

                      <!-- <div class="row spaceUpDownRow" *ngIf="!this.facadeService.indicateurJuge">
                        <div class="col-2"></div>
                        <div class="col-1 texteTitreNormal">
                          <app-texte cle="commun.RechercheJuge" class="texteRecherche"></app-texte>
                        </div>

                          <div class="col-2">
                            <select class="dlNormal" id="inputGroupSelectJuge" formControlName="rechercheJuge"  >
                              <option selected value=""  ><app-texte cle="commun.Tous"></app-texte></option>
                              <option  *ngFor="let j of listeJuge"  >{{j.nomJuge}} , {{j.prenomJuge}}</option>
                            </select>
                          </div>
                    </div>  -->

                      <!--Fin section Juges-->

                      <!--Début Sections-->

                      <div class="row flex spaceUpDownRow">
                        <div class="col-2"></div>
                        <div class="col-1 texteTitreNormal">
                         <app-texte cle="commun.RechercheSection"></app-texte>
                        </div>
                      <div class="col-2 padD">
                        <select   class="dlNormalStatut" id="inputGroupSelectPrio" formControlName="rechercheSection">
                          <option  selected value="0">Toutes</option>
                          <option value="1">CETM</option>
                          <option value="2">SAS</option>
                          <option value="3">SAI</option>
                          <option value="4">SAE</option>
                          <option value="5">STE</option>
                          <option value="6">AUT</option>
                        </select>
                      </div>
                      <div class="col-6"></div>
                      </div>

                      <!--Fin Sections-->

                      <!--Section première proposition Myriam-->
                      <!-- <div class="row spaceUpDownRow">
                        <div class="col-2"></div>
                        <div class="col-1 texteTitreNormal">Adjointes</div>
                        <div class="col-2 colMod14"> <input class="cbStyle" type="checkbox" > Toutes mes décisions</div>
                        <div class="col-2 colMod14"> <input class="cbStyle" type="checkbox" > Tous mes groupes</div>
                      </div> -->
                       <!--Fin  Section première proposition Myriam-->
                    <div class="row spaceUpDownRow">
                      <div class="col-2"></div>
                      <div class="col-1 texteTitreNormal">
                        <app-texte  cle="commun.RechercheNumDec"></app-texte>
                      </div>
                        <div class="col-2">
                          <input type="text"
                           class="tbNormal"
                           formControlName="rechercheNumDec"
                           aria-describedby="TextBoxRechNumDec">
                        </div>
                    </div>
                     <div class="row spaceUpDownRow" >
                       <div class="col-2 col2ModDosTaq"></div>
                       <div class="col-2 texteTitreDossTaq">
                         <app-texte  cle="commun.RechercheNumDoss"></app-texte>
                        </div>
                         <input type="text" class="tbNormal"
                         mask="999999"
                         formControlName="rechercheNumDossier"
                         aria-describedby="TextBoxRechNumDoss" >
                    </div>
                    <div class="row spaceUpDownRow" >
                      <div class="col-2 mod2"></div>
                      <div class="col-2 texteTitreDateImp">
                        <app-texte cle="commun.DateImp"  ></app-texte>
                      </div>
                      <div class="col-2 mod3">
                       <mat-form-field class="matFormFieldCustom"  (click)="picker.open()"  >
                       <input
                        [className]="ErreurDate ? 'inputBorderRouge' : 'inputNormal'"
                        matInput
                        [matDatepicker]="picker"
                        formControlName="rechercheDateDu">
                       <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                    </div>
                    <div class="col-1 mod1"><span class="spanAu">au</span></div>
                    <div class="col-2 mod3">
                      <mat-form-field class="matFormFieldCustom"   (click)="picker2.open()"  >
                      <input
                      [className]="ErreurDate ? 'inputBorderRouge' : 'inputNormal'"
                       matInput
                       [matDatepicker]="picker2"
                       formControlName="rechercheDateAu">
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                   </div>
                  </div>

                  <div *ngIf="ErreurDate" class="messageErreurAcc">
                      <app-message  [cle]='noMessageDateInvalide' [variables]="[extensionMessage]"  id="erreurFichierInvalide"></app-message>
                     <!-- <app-app-message [cle]='noMessageDateInvalide'   id="erreurFichierInvalide"></app-app-message> -->

                    </div>
                     <div class="row flex spaceUpDownRow">
                       <div class="col-2"></div>
                       <div class="col-1 texteTitreNormal">
                        <app-texte cle="commun.RecherchePrio"></app-texte>
                       </div>

                        <div class="col-2 padD">
                          <select   class="dlNormalStatut" id="inputGroupSelectPrio" formControlName="recherchePriorite">
                            <option  selected value="0">Toutes</option>
                            <option value="1">Urgente</option>
                            <option value="2">Normale</option>
                          </select>
                        </div>
                    </div>
                        <button ID="ButtonRechercher" class="btn btn-primary buttonRechercher" (click)="RechercherDecision()">
                            <app-texte cle="commun.boutonRechercher"></app-texte>
                        </button>
                        <button
                         class="btn btn-primary buttonReini"
                        (click)="Renitialise()"
                        type="button">
                        <app-texte cle="commun.boutonReni"></app-texte>
                        </button>
                        <br />
                        <!-- <label ID="LabelMessageErreur" class="errorRed" runat="server" >
                            <i class="fas fa-exclamation-triangle"></i>
                            Ceci est un message d'erreur
                        </label> -->
                        </div>
                </div>
                    </div>
                    <!--Tableau-->
                    <hr class="hrClass">
                    <div class="row sectionTableauHeader">

                      <div class="col-2">

                        Décision et motifs
                      </div>
                      <div class="col-6"></div>

                    </div>
                    <!-- <div *ngIf="this.facadeService.listeDecisions&&!(this.facadeService.listeDecisions
                    | searchfilter3: this.formulaire.get('rechercheNumDec').value : 'rechercheNumDec'
                    | searchfilter3: this.formulaire.get('rechercheNumDossier').value : 'rechercheNumDossier'
                    | searchfilter3: this.formulaire.get('rechercheStatut').value : 'rechercheStatut'
                    | searchfilter3: this.formulaire.get('rechercheJuge').value : 'rechercheJuge'
                    | dateFiltre:this.formulaire.get('rechercheDateDu').value : this.formulaire.get('rechercheDateAu').value).length">
                    Aucun résultats
                    </div> -->
                    <div class="tableauDec">
                        <table  id="table" class="table" >
                  <thead>
                    <tr>
                      <th scope="col cent" class="cent">
                         <app-texte cle="commun.numero"  ></app-texte>
                      </th>
                      <th scope="col cent" class="cent" ><app-texte cle="commun.dossier" ></app-texte></th>
                      <th scope="col cent" class="cent"><app-texte cle="commun.nbDossier"></app-texte></th>
                      <th scope="col cent" class="cent"  data-order="desc" data-name="dateImportation" >
                          <app-texte cle="commun.dateImp"></app-texte>
                          <span class="spanAu">
                          </span><i class="fa fa-sort"></i>
                        </th>
                      <th scope="col cent" class="cent"   data-order="desc" data-name="dateFinDelibere">
                          <app-texte cle="commun.dateDeli"></app-texte>
                          <span class="spanAu">
                          </span><i class="fa fa-sort"></i>
                        </th>
                      <th scope="col " *ngIf="!this.facadeService.indicateurJuge">
                          <app-texte  class="centJuge" cle="commun.RechercheJuge"></app-texte>
                      </th>
                      <th scope="col cent"  class="cent" data-order="desc" data-name="durRestante">
                          <app-texte cle="commun.durRestante"></app-texte>
                           <span class="spanAu">
                           </span><i class="fa fa-sort"></i>
                         </th>
                      <th scope="col cent" class="cent"  data-order="desc" data-name="priorite"><app-texte cle="commun.RecherchePrio"></app-texte><span class="spanAu"></span><i class="fa fa-sort"></i></th>
                      <th scope="col cent" class="cent"><app-texte cle="commun.RechercheStatut"></app-texte></th>
                    </tr>
                  </thead>
                  <tbody>

                      <!--Début rangée 2-->
                      <tr *ngFor="let r of this.facadeService.tableauDecision;let i = index;" class="tableauPrincipalABoucler" >
                      <td  class="numeroDec cent" (click)="SelectionDecision(this.facadeService.tableauDecision[i].idDocument)">{{r.identifiant}}</td>
                      <td class="noTaqEtRequeran cent">{{r.dossiersTAQ[0].noDossierTAQ}}-{{r.dossiersTAQ[0].requerant}}</td>
                      <td class="noDossier cent">{{r.dossiersTAQ.length}}</td>
                      <td class="dateImport cent">{{r.dateImportation | date: 'yyyy-MM-dd'}}</td>
                           <td class="finDeli cent">
                            <div *ngIf="(r.dateFinDelibere | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')"> {{r.dateFinDelibere | date: 'yyyy-MM-dd'}}</div>
                            <div *ngIf="(r.dateFinDelibere | date: 'yyyy-MM-dd') < (0001-01-01 | date: 'yyyy-MM-dd')">-</div>
                           </td>
                           <td  *ngIf="!this.facadeService.indicateurJuge">
                             <div *ngFor="let r of  this.facadeService.tableauDecision[i].signataires">
                                {{r.nomRessource}}
                                <img *ngIf="(r.dateSignature | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')" class="imgSign" mat-raised-button
                                matTooltip="Décision signé le  {{r.dateSignature | date: 'd-LL-yyyy'}}"
                                aria-label="L'image affiche la date de signature de la décision"
                                matTooltipPosition="above" src="../../assets/images/crochetVert.png"
                                matTooltipClass="my-class"
                                />
                             </div>





                           </td>
                          <td [className]="r.dureeRestante < 5 ? 'texteDurRestanteRouge cent' : 'cent'" >{{r.dureeRestante}}</td>
                           <td class="bgWhite" >
                           <span [className]="r.priorite=='Urgente' ? 'yellowClass' : ''" >{{r.priorite}}</span>
                              <!-- <span [className]="pd.priorite==1 ? 'yellowClass' : ''"> -->

                             <!-- </span> -->
                           </td>
                          <td class="statutCss cent">{{r.statut}}</td>
                       </tr>
                       <!--Fin rangée 2-->

                  </tbody>
                </table>

                </div>
                <div class="aligButton"><button ID="ButtonImporter" class="btn btn-primary buttonImpor" routerLink="/importDecision" >
                  <app-texte cle="commun.boutonImporterNouvDec"></app-texte>
              </button>
          </div>
              </form>







