


<form [formGroup]="formulaire">
    <ngx-spinner bdColor = "rgba(140,137,137,0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>
  <!--TODO test-->
            <div >
            <!-- <div>{{noMessageDateInvalide}}</div>
            <div>{{ErreurDate}}</div>
            <div>{{valeurDuTri}}</div> -->
            <div *ngIf="this.facadeService.tableauDecision">Nombres de résultats: {{this.facadeService.tableauDecision.length}}</div>

                <div class="divRight">

                    <div class="rechDec">
                         <app-texte cle="commun.Recherche"></app-texte>
                    </div>
                    <hr class="hrClass" />
                    <div>



                      <div formGroupName="statut"  >
                        <div class="divVide"></div>
                        <div class="texteTitreNormalMarR20">Statut</div>
                        <div class="divInBlock" > <input class="cbStyle" type="checkbox" formControlName="statutImporte" > Importé</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox" formControlName="statutPretSignature" > Prêt pour la signature</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"  formControlName="statutEnCours" > En cours</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"   formControlName="statutDepose"> Déposé</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"  formControlName="statutAnalyse"> Analysé</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"   formControlName="statutAccepte"> Accepté</div>
                        <div class="divInBlock"> <input class="cbStyle" type="checkbox"  formControlName="statutRejete"> Rejeté</div>

                      </div>



                       <!--Section 2e proposition MA-->
                       <div *ngIf="!this.facadeService.indicateurJuge" class="row mb-2 mt-2">
                        <div class="col-sm-0 col-lg-1"></div>
                        <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">Adjointes/Juge</div>
                          <div class="col">
                            <div >
                              <select   class="dlNormalStatut" id="inputGroupSelectPrio" formControlName="nomJuge">
                                <option  selected value="Toutes mes décisions" >Toutes mes décisions</option>
                                <option   value="Toutes les décisions">Toutes les décisions</option>
                              <option *ngFor="let jugAdj of this.facadeService.listeJugesAdjointes;let i= index; "  value="{{jugAdj.codeReseau}}">{{jugAdj.nom}} {{jugAdj.prenom}}</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-6"></div>
                      </div>
                       <!--Fin Section 2e proposition MA-->

                      <!--Section Juges-->

                      <!-- <div class="row spaceUpDownRow" *ngIf="!this.facadeService.indicateurJuge">
                        <div class="col-2"></div>
                        <div class="col-1 texteTitreNormal">
                          <app-texte cle="commun.RechercheJuge" class="texteRecherche"></app-texte>
                        </div>

                          <div class="col-2">
                            <select class="dlNormal" id="inputGroupSelectJuge" formControlName="rechercheJuge"  >
                              <option selected value=""  ><app-texte cle="commun.Tous"></app-texte></option>
                              <option  *ngFor="let j of listeJuge"  >{{j.nomJuge}} , {{j.prenomJuge}}</option>
                            </select>
                          </div>
                    </div>  -->

                      <!--Fin section Juges-->

                      <!--Début Sections-->

                      <div *ngIf="!this.facadeService.indicateurJuge" class="row mb-2">
                        <div class="col-sm-0 col-lg-1"></div>
                        <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                         <app-texte cle="commun.RechercheSection"></app-texte>
                        </div>
                      <div class="col">
                        <select   class="dlNormalStatut" id="inputGroupSelectPrio" formControlName="rechercheSection">
                          <option  selected value="Toutes">Toutes</option>
                          <option value="CETM">CETM</option>
                          <option value="SAS">SAS</option>
                          <option value="SAI">SAI</option>
                          <option value="SAE">SAE</option>
                          <option value="STE">STE</option>
                          <option value="AUT">AUT</option>
                        </select>
                      </div>
                      <div class="col-6"></div>
                      </div>

                      <!--Fin Sections-->

                      <!--Section première proposition Myriam-->
                      <!-- <div class="row spaceUpDownRow">
                        <div class="col-2"></div>
                        <div class="col-1 texteTitreNormal">Adjointes</div>
                        <div class="col-2 colMod14"> <input class="cbStyle" type="checkbox" > Toutes mes décisions</div>
                        <div class="col-2 colMod14"> <input class="cbStyle" type="checkbox" > Tous mes groupes</div>
                      </div> -->
                       <!--Fin  Section première proposition Myriam-->
                    <div class="row mb-2 mt-2">
                      <div class="col-sm-0 col-lg-1"></div>
                      <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                        <app-texte  cle="commun.RechercheNumDec"></app-texte>
                      </div>
                        <div class="col">
                          <input type="text"
                           class="tbNormal"
                           [dropSpecialCharacters]="false"
                           mask="0000-00-0000"
                           formControlName="rechercheNumDec"
                           aria-describedby="TextBoxRechNumDec">
                        </div>
                    </div>
                     <div class="row mb-1" >
                       <div class="col-sm-0 col-lg-1"></div>
                       <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                         <app-texte  cle="commun.RechercheNumDoss"></app-texte>
                        </div>
                        <div class="col">
                         <input type="text" class="tbNormal"
                          mask="000000"
                         formControlName="rechercheNumDossier"
                         aria-describedby="TextBoxRechNumDoss" >
                        </div>
                    </div>

                    <!--Date d'importation-->
                    <div class="row" >
                      <div class="col-md-0 col-lg-1"></div>
                      <div class="col-sm-2 col-md-4 col-lg-2 taRDate">
                        <app-texte cle="commun.DateImp"  ></app-texte>
                      </div>
                      <div class="col-3 col-lg-3 col-xl-3 col-xxl-2">
                       <mat-form-field class="matFormFieldCustom"  (click)="picker.open()"  >
                       <input
                        [className]="ErreurDate ? 'inputBorderRouge' : 'inputNormal'"
                        matInput
                        [matDatepicker]="picker"
                        formControlName="rechercheDateDu">
                       <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                    </div>
                    <div class="disInBl">au</div>
                     <!-- <div class="col-sm-1 col-md-1 col-lg-1"><span class="spanAu">au</span></div>  -->
                    <div class="col-3">
                      <mat-form-field class="matFormFieldCustom"   (click)="picker2.open()"  >
                      <input
                      [className]="ErreurDate ? 'inputBorderRouge' : 'inputNormal'"
                       matInput
                       [matDatepicker]="picker2"
                       formControlName="rechercheDateAu">
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                   </div>
                  </div>
                   <!--Fin Date d'importation-->

                   <!--
                        <div class="row mb-1" >
                       <div class="col-sm-0 col-lg-1"></div>
                       <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                         <app-texte  cle="commun.RechercheNumDoss"></app-texte>
                        </div>
                        <div class="col">
                         <input type="text" class="tbNormal"
                          mask="000000"
                         formControlName="rechercheNumDossier"
                         aria-describedby="TextBoxRechNumDoss" >
                        </div>
                    </div>

                    -->

                  <div *ngIf="ErreurDate" class="row mb-2 mt-1">
                    <div class="col-sm-0 col-lg-1"></div>
                    <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR"> </div>
                    <div class="col">
                      <app-message class="messageErreurAcc" [cle]='noMessageDateInvalide' [variables]="[extensionMessage]"  id="erreurFichierInvalide"></app-message>
                    </div>

                     <!-- <app-app-message [cle]='noMessageDateInvalide'   id="erreurFichierInvalide"></app-app-message> -->

                    </div>
                    <!--Priorité-->

                    <!--
                         <div class="row mb-2">
                      <div class="col-sm-0 col-lg-1"></div>
                      <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                        <app-texte  cle="commun.RechercheNumDec"></app-texte>
                      </div>
                        <div class="col">
                          <input type="text"
                           class="tbNormal"
                           formControlName="rechercheNumDec"
                           aria-describedby="TextBoxRechNumDec">
                        </div>
                    </div>
                     <div class="row mb-1" >
                       <div class="col-sm-0 col-lg-1"></div>
                       <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                         <app-texte  cle="commun.RechercheNumDoss"></app-texte>
                        </div>
                        <div class="col">
                         <input type="text" class="tbNormal"
                          mask="000000"
                         formControlName="rechercheNumDossier"
                         aria-describedby="TextBoxRechNumDoss" >
                        </div>
                    </div>
                    -->
                     <div class="row mb-2">
                       <div class="col-sm-0 col-lg-1"></div>
                       <div class="col-2 col-sm-2 col-md-4 col-lg-2 taR">
                        <app-texte cle="commun.RecherchePrio"></app-texte>
                       </div>

                        <div class="col">
                          <select   class="dlNormalStatut" id="inputGroupSelectPrio" formControlName="recherchePriorite">
                            <option  selected value="Toutes">Toutes</option>
                            <option value="Urgente">Urgente</option>
                            <option value="Normale">Normale</option>
                          </select>
                        </div>
                    </div>
                    <!--Fin Priorité-->


                    <div class="divVideButt"></div>

                    <div class="divInBlock" >
                        <button ID="ButtonRechercher" class="btn btn-primary buttonRechercher" (click)="RechercherDecision()">
                            <app-texte cle="commun.boutonRechercher"></app-texte>
                        </button>
                    </div>
                    <div class="divInBlock" >
                        <button
                        class="btn btn-primary buttonReini"
                       (click)="Renitialise()"
                       type="button">
                       <app-texte cle="commun.boutonReni"></app-texte>
                       </button>
                    </div>

                    <!-- <div class="row">
                      <div class="col-sm-0 col-lg-1"></div>
                      <div class="col-2 col-sm-2 col-md-4 col-lg-2"></div>
                      <div class="col-sm-1 col-lg-2">
                          <button ID="ButtonRechercher" class="btn btn-primary buttonRechercher" (click)="RechercherDecision()">
                              <app-texte cle="commun.boutonRechercher"></app-texte>
                          </button>
                      </div>
                      <div class="col-sm-1 col-lg-2">
                          <button
                          class="btn btn-primary buttonReini"
                         (click)="Renitialise()"
                         type="button">
                         <app-texte cle="commun.boutonReni"></app-texte>
                         </button>
                      </div>

                        <br />
                      </div> -->
                        <!-- <label ID="LabelMessageErreur" class="errorRed" runat="server" >
                            <i class="fas fa-exclamation-triangle"></i>
                            Ceci est un message d'erreur
                        </label> -->
                        </div>
                </div>
                    </div>
                    <!--Tableau-->
                    <hr class="hrClass">
                    <div class="row sectionTableauHeader">

                      <div class="col-2">

                        Décision et motifs
                      </div>
                      <div class="col-6"></div>

                    </div>
                    <!-- <div *ngIf="this.facadeService.listeDecisions&&!(this.facadeService.listeDecisions
                    | searchfilter3: this.formulaire.get('rechercheNumDec').value : 'rechercheNumDec'
                    | searchfilter3: this.formulaire.get('rechercheNumDossier').value : 'rechercheNumDossier'
                    | searchfilter3: this.formulaire.get('rechercheStatut').value : 'rechercheStatut'
                    | searchfilter3: this.formulaire.get('rechercheJuge').value : 'rechercheJuge'
                    | dateFiltre:this.formulaire.get('rechercheDateDu').value : this.formulaire.get('rechercheDateAu').value).length">
                    Aucun résultats
                    </div> -->
                    <div class="tableauDec">
                        <table  id="table" class="table" >
                  <thead>
                    <tr>
                      <th scope="col cent" class="cent">
                         <app-texte cle="commun.numero"  ></app-texte>
                      </th>
                      <th scope="col cent" class="cent" ><app-texte cle="commun.dossier" ></app-texte></th>
                      <th scope="col cent" class="cent"><app-texte cle="commun.nbDossier"></app-texte></th>
                      <th scope="col cent" class="cent" style="cursor: pointer;"  data-order="desc" data-name="1" #dateImportation (click)="changerValeurTri(dateImportation)">
                          <app-texte cle="commun.dateImp"></app-texte>
                          <span class="spanAu">
                          </span><i class="fa fa-sort"></i>
                        </th>
                      <th scope="col cent" class="cent"   style="cursor: pointer;"  data-order="desc" data-name="3" #dateFinDelibere (click)="changerValeurTri(dateFinDelibere)">
                          <app-texte cle="commun.dateDeli"></app-texte>
                          <span class="spanAu">
                          </span><i class="fa fa-sort"></i>
                        </th>
                      <th scope="col " *ngIf="!this.facadeService.indicateurJuge">
                          <app-texte  class="centJuge" cle="commun.RechercheJuge"></app-texte>
                      </th>
                      <th scope="col cent" style="cursor: pointer;" class="cent" data-order="desc" data-name="5"  #durRestante (click)="changerValeurTri(durRestante)">
                          <app-texte cle="commun.durRestante"></app-texte>
                           <span class="spanAu">
                           </span><i class="fa fa-sort"></i>
                         </th>
                      <th scope="col cent" class="cent" style="cursor: pointer;"  data-order="desc" data-name="7" #priorite (click)="changerValeurTri(priorite)"><app-texte cle="commun.RecherchePrio"></app-texte><span class="spanAu"></span><i class="fa fa-sort"></i></th>
                      <th scope="col cent" class="cent"><app-texte cle="commun.RechercheStatut"></app-texte></th>
                    </tr>
                  </thead>
                  <tbody>

                      <!--Début rangée 2-->
                      <tr *ngFor="let r of this.facadeService.tableauDecision;let i = index;" class="tableauPrincipalABoucler" >
                      <td    >
                        <div class="numeroDec cent" (click)="SelectionDecision(this.facadeService.tableauDecision[i].idDocument,i)" *ngIf="r.identifiant"> {{r.identifiant}}</div>
                        <div class="cent"  *ngIf="!r.identifiant">-</div>
                        </td>
                      <td class="noTaqEtRequeran cent">{{r.dossiersTAQ[0].noDossierTAQ}}-{{r.dossiersTAQ[0].requerant}}</td>
                      <td class="noDossier cent">{{r.dossiersTAQ.length}}</td>
                      <td class="dateImport cent">{{r.dateImportation | date: 'yyyy-MM-dd'}}</td>
                           <td class="finDeli cent">
                            <div *ngIf="(r.dateFinDelibere | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')"> {{r.dateFinDelibere | date: 'yyyy-MM-dd'}}</div>
                            <div *ngIf="(r.dateFinDelibere | date: 'yyyy-MM-dd') < (0001-01-01 | date: 'yyyy-MM-dd')">-</div>
                           </td>
                           <td>
                             <div *ngFor="let r of  this.facadeService.tableauDecision[i].signataires">
                                {{r.nomRessource}}
                                <img *ngIf="(r.dateSignature | date: 'yyyy-MM-dd') > (0001-01-01 | date: 'yyyy-MM-dd')" class="imgSign" mat-raised-button
                                matTooltip="Décision signé le  {{r.dateSignature | date: 'd-LL-yyyy'}}"
                                aria-label="L'image affiche la date de signature de la décision"
                                matTooltipPosition="above" src="assets/images/crochetVert.png"
                                matTooltipClass="my-class"
                                />
                             </div>





                           </td>
                          <td [className]="r.dureeRestante < 5 ? 'texteDurRestanteRouge cent' : 'cent'" >{{r.dureeRestante}}</td>
                           <td class="bgWhite" >
                           <span [className]="r.priorite=='Urgente' ? 'yellowClass' : ''" >{{r.priorite}}</span>
                              <!-- <span [className]="pd.priorite==1 ? 'yellowClass' : ''"> -->

                             <!-- </span> -->
                           </td>
                          <td >
                          <div class="numeroDec cent" *ngIf="this.facadeService.indicateurJuge" (click)="historiqueJuge(this.facadeService.tableauDecision[i].idDocument,i)">{{r.statut}}</div>
                          <div class="statutCss cent" *ngIf="!this.facadeService.indicateurJuge">{{r.statut}}</div>
                          </td>
                       </tr>
                       <!--Fin rangée 2-->

                  </tbody>
                </table>

                </div>
                <div class="aligButton"><button ID="ButtonImporter" class="btn btn-primary buttonImpor" routerLink="/importDecision" >
                  <app-texte cle="commun.boutonImporterNouvDec"></app-texte>
              </button>
          </div>
              </form>







