<div [formGroup]="formulaire">
<div class="row">

    <div class="col-2 marginR"></div>
<div class="col-3 fondGris">
        <div class="flex" >
            <div >
               <select   class="dlNormal" id="inputGroupSelect04"  (change)="valeurJuge()" formControlName="nomJuge">

                 <option   *ngFor="let j of listeJuge">{{j.nomJuge}} , {{j.prenomJuge}}</option>

               <div *ngIf="this.facadeService.retourDecision"></div>

               </select>
             </div>
       </div>
    </div>
    <div class="col-2 fondGris">
        <div class="flex" >
            <div>
               <select   class="dlNormal" id="inputGroupSelect05" formControlName="ordreSignataire" >
                 <option  selected value="1">Signataire 1</option>
                 <option value="2">Signataire 2</option>
                 <option value="3">Signataire 3</option>
                 <option value="4">Signataire 4</option>
                 <option value="4">Signataire 5</option>
               </select>
             </div>
       </div>
    </div>
    <div class="col-2">
      <input class="inputReg" type="text" value="Rédacteur" disabled >
    </div>
    <div class="col-2">

        <input class="cbStyle" type="checkbox" formControlName="redacteur">

    </div>
</div>
</div>

        <!-- <input class="inputReg"> -->




