<table mat-table [dataSource]="MyDataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="numeroDecision">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  <app-texte cle="commun.numero"  ></app-texte> </th>
    <td mat-cell *matCellDef="let element"> {{element.numeroDecision}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="numeroDossier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <app-texte cle="commun.dossier" ></app-texte> </th>
    <td mat-cell *matCellDef="let element"> {{element.numeroDossier}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="nbDossier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <app-texte cle="commun.nbDossier"></app-texte> </th>
    <td mat-cell *matCellDef="let element"> {{element.nbDossier}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="dateImportation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <app-texte cle="commun.dateImp"></app-texte> </th>
    <td mat-cell *matCellDef="let element"> {{element.dateImportation}} </td>
  </ng-container>

  <ng-container matColumnDef="dateFinDelibere">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><app-texte cle="commun.dateDeli"></app-texte></th>
    <td mat-cell *matCellDef="let element"> {{element.dateFinDelibere}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><app-texte cle="commun.description"></app-texte></th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="juge">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <app-texte cle="commun.RechercheJuge"></app-texte></th>
    <td mat-cell *matCellDef="let element"> {{element.juge}} </td>
  </ng-container>

  <ng-container matColumnDef="durRestante">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <app-texte cle="commun.durRestante"></app-texte></th>
    <td mat-cell *matCellDef="let element"> {{element.durRestante}} </td>
  </ng-container>

  <ng-container matColumnDef="statut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <app-texte cle="commun.RechercheStatut"></app-texte></th>
    <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
  </ng-container>


  <ng-container matColumnDef="priorite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><app-texte cle="commun.RecherchePrio"></app-texte> </th>
    <td mat-cell *matCellDef="let element"> {{element.priorite}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
