.cont100{
    max-width: 100%;
}
.spanAu{
  margin-left:5px;
  margin-right: 5px;
}
.cont90{
    max-width: 95%;
}
.divCentre{
  width: 100%;
  background-color: white;
  display: block;
  margin: auto;
  height: auto;
  padding-bottom: 40px;
  font-size: 14px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media screen and (max-width: 1400px) {
  .cont90{
    max-width: 100%;
    overflow: auto;
    padding-bottom: 20px;

}
.divCentre{
  width: 100%;
  background-color: white;
  display: block;
  margin: auto;
  height: auto;
  padding-bottom: 40px;
  font-size: 12px;
}
.spanAu{
  margin-left:0px;
  margin-right: 0px;
}
html, body { height: 100%; }
body
{
   margin: 0;
    font-family: Roboto,
    "Helvetica Neue", sans-serif;
    font-size: 5px;
   }
}
@media screen and (max-width: 1300px) {
  .cont90{
    max-width: 100%;
    overflow: auto;
    font-size: 10px;
    padding-bottom: 20px;

}
.divCentre{
  width: 100%;
  background-color: white;
  display: block;
  margin: auto;
  height: auto;
  padding-bottom: 40px;
  font-size: 11px;
}
}
@media screen and (max-width: 800px) {
.divCentre{
  width: 100%;
  background-color: white;
  display: block;
  margin: auto;
  height: auto;
  padding-bottom: 40px;
  font-size: 8px;
}
}

@media screen and (max-width: 600px) {
  .cont90{
    max-width: 100%;
    overflow: auto;
    font-size: 7px;
    padding-bottom: 20px;

}
}






